.about_heading{width:15.8020527859vw;
 margin-top:-5%;}
 .about_content{
 	font-family: Open Sans;
 margin-top:-5%;
 width:80%;
 }


.augment_heading{width:15.8020527859vw;
}
 #theme{
 	font-family: Open Sans;
 }