.about_heading{
	width:15.8020527859vw;
 margin-top:-5%;}
 .about_content{
 	font-family: Open Sans;
 margin-top:-5%;
 width:80%;
 }


.augment_heading{
	width:15.8020527859vw;
}
 #theme{
 	font-family: Open Sans;
 }

 @media screen and (max-width: 767px) and (min-width: 200px){
  #themeVideo{
  	display: none;
  }
  .augment_heading{
  	height: 23px;
  	width: 100px;
  } 
  .about_heading{
  	height: 120px;
  	width:90px;
 margin-bottom:1%;}

}