.contact_us{
 font-family: KeepCalm;
    src: url(fonts/KeepCalm-Medium.ttf);
overflow:hidden;
margin-top: 2%;
}
.contact_heading{
	padding: 0.4%;
	width: 100%;
	height: 6%;
	display: block;
	background: #0c0c0c;
	margin-top: 5%;
	border-top-color:#191970;
    border-top width: 10px;
    border-top-style: solid;

}
.contact_font{
	color:white;
	margin-bottom: 1.5%;
}
.contact-1{
margin-top: -5%;
}
.contact_det{
position: relative;
display: block;
width: 80%;
}
#events_imag{
     height: 50vh;
	position: relative;
	display: block;
}
#dept_img{
	height: 10vh;
	width: auto;
	position: relative;
	display: block;
}
@media only screen and (max-width: 767px) {
#dept_img{
	height: 10vh;
	width: 50vh;
	position: relative;
	display: block;
}
}
