@media only screen and (max-width: 767px) and (min-width: 200px){
  #events-banner2{
  	position:absolute;
  	top: -190px;
  	margin-left: -96px;
    -ms-transform: scale(0.5, 0.5); /* IE 9 */
    -webkit-transform: scale(0.5, 0.5); /* Safari,Chrome */
    -moz-transform: scale(0.5, 0.5);/* Mozilla */
    transform: scale(0.5, 0.5);

  }
  
}

#events-banner2{
	position: absolute;
	height: 253px;
	float: left;
	top: -166px;
	left: 37px;
}

#events-building{
	width:100%;

	float: right;

}

#eventsMainContent{
	font-family: Open Sans;
	margin-left: 2%;
}

.events-buttons{
	height: 200px;
	width:160px;
7

}

.text-align{

}
/*ul{
	list-style-type: none;
    display:inline;
}
li{
	display: inline;
}*/
.img-click{
	cursor: pointer;
}

body{
  overflow-x: hidden;
	
}
