.tabs_eventsdet{
	position: absolute;
	left: 12.5%;
}


.eventab{
  background-color:#A2D68D;
  height:5%;
  padding: 0.9%;
  border:1px solid black;
  font-family: KeepCalm;
  z-index: 999;
  float: left;
}

.evnt_detail_heading{
font-family: KeepCalm;
margin-top: 3%;
z-index: 999;

}

.eventdetails{
	background-color:#ededed;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 40px;
}
.evdetimg{
	 border:3px solid black;
	 position: absolute;
	 top:100%;
	 display: block;
	 width: 180px;
}
.evdetcontent{
	width:75%;
	border:1px solid black;
	background-color:white; 
	display: block;
	position: relative;
	top: -5px;
	overflow-y: auto;
	z-index: 999;
	height:50vh;
}
.det{
	width: 90%;
	position: absolute;
	height: 100%;
	left: 5%;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: left;
}
.eventab:hover{

background-color:#A2D68D;
}
.bottom_building{
	position: absolute;
	z-index: 0;
	bottom: 8%;
	display: block;
    width: 100%;
}
.quadcopter_img{
	position: absolute;
	z-index: 0;
	width: 10%;
	display: block;
	top:20%;
}
.quadcopter_img2{
	position: absolute;
	z-index: 0;
	width: 10%;
	display: block;
	left: 85%;
	top:40%;
}
@media only screen and (min-width: 684px){
.tabs_eventsdet{
width: 100%;
position: relative;
display: inline-block;
}
}
.cloud1,.cloud2,.cloud3,.cloud4,.cloud5,.cloud6,.cloud7,.cloud8{
position: absolute;
	z-index: -10;
width: 10%;
	
}
.cloud1{

	top: 15%;
	left:100%;
	-webkit-animation: translateSlow 11s linear infinite;
	-moz-animation: translateSlow 11s linear infinite;
	-o-animation: translateSlow 11s linear infinite;
	animation: translateSlow 11s linear infinite;
}
.cloud2{
	display: block;
	top:50%;
	left: 100%;
	-webkit-animation: translateSlow 11s linear infinite;
	-moz-animation: translateSlow 11s linear infinite;
	-o-animation: translateSlow 11s linear infinite;
	animation: translateSlow 11s linear infinite;

}
.cloud3{
	display: block;
	top:10%;
	left: 100%;
	-webkit-animation: translateSlow 11s linear infinite;
	-moz-animation: translateSlow 11s linear infinite;
	-o-animation: translateSlow 11s linear infinite;
	animation: translateSlow 11s linear infinite;
	animation-delay: 8.5s;
}
.cloud4{
	display: block;
	top:30%;
	left: 100%;
	-webkit-animation: translateSlow 9s linear infinite;
	-moz-animation: translateSlow 9s linear infinite;
	-o-animation: translateSlow 9s linear infinite;
	animation: translateSlow 9s linear infinite;
	animation-delay: 0.8s;
}
.cloud5{
	display: block;
	top:30%;
	left: 100%;
	-webkit-animation: translateSlow 11s linear infinite;
	-moz-animation: translateSlow 11s linear infinite;
	-o-animation: translateSlow 11s linear infinite;
	animation: translateSlow 11s linear infinite;
	animation-delay: 8s;
}
.cloud6{
	display: block;
	top:60%;
	left: 100%;
	-webkit-animation: translateSlow 9s linear infinite;
	-moz-animation: translateSlow 9s linear infinite;
	-o-animation: translateSlow 9s linear infinite;
	animation: translateSlow 9s linear infinite;
	animation-delay: 9s;
}
.cloud7{
	display: block;
	top:60%;
	left: 100%;
	-webkit-animation: translateSlow 9s linear infinite;
	-moz-animation: translateSlow 9s linear infinite;
	-o-animation: translateSlow 9s linear infinite;
	animation: translateSlow 9s linear infinite;
	animation-delay: 1s;
}
.cloud8{
	display: block;
	top:5%;
	left: 100%;
	-webkit-animation: translateSlow 9s linear infinite;
	-moz-animation: translateSlow 9s linear infinite;
	-o-animation: translateSlow 9s linear infinite;
	animation: translateSlow 9s linear infinite;
	animation-delay: 1s;
}

@-webkit-keyframes translateSlow {
    to {left: -10%;}
}

@-moz-keyframes translateSlow {
    to {left: -10%;}
}

@-o-keyframes translateSlow {
    to {left: -10%;}
}

@keyframes translateSlow {
    to {left: -10%;}
}