#events-banner{
	position: absolute;
	height: 253px;
	float: left;
	top: -166px;
	left: 37px;
}

#events-building{
	width:100%;

	float: right;

}

.events-buttons{
	height: 200px;
	width:160px;


}

.text-align{

}
/*ul{
	list-style-type: none;
    display:inline;
}
li{
	display: inline;
}*/
.img-click{
	cursor: pointer;
}

body{
  overflow-x: hidden;
	
}
