body{
 background-color: #EDEDED;
}
img#events-banner{
	position: relative;
	height: 9vh;
	display: block;
	width: auto;
	top: -80px;

}
img#events_image{
	display: block;
	width: 35%;
	margin-top:-5%;

}
.eventbox{
	 width:70%;
	 display: block;
	 overflow: hidden;
}
.eventbox2{
	width: 100%;

}
.imgstyle{
	width:100%;
	height: 100%;
}
.eventsname{
	text-align: center;
	padding: 15px;
	font-weight: bolder;
	font-family: KeepCalm;
	font-size: 1.2em;
	vertical-align: center;
	border: 3px solid black ;
	background-color:#3E6B8F;
	border-radius: 10px;
	cursor: pointer;
	color: black;
}

.eventsname:hover{

background-color:#325fa8;
}