#events-banner{
	position: absolute;
	height: 200px;
	display: block;
	width: 120%;
	top: -150px;
		left: 95%;
}

#events-building{
	width:100%;

	float: right;

}

.events-buttons{
	height: 200px;
	width:160px;
7

}

.text-align{

}
/*ul{
	list-style-type: none;
    display:inline;
}
li{
	display: inline;
}*/
.img-click{
	cursor: pointer;
}

body{
  overflow-x: hidden;
	
}
