
#exhibitions-banner{
	position:absolute;
	height: 250px;
	top:-170px;
	left: 40px;
    

}

#exhibitions-building{
	height: 450px;

    float: right;


}

.exhibitions-container{
font-family: Open Sans;

	}

#exhibitions-subtitle{

	height: 300px;
	float: right;


}

#exhibitions-placeholder{
	height: 400px;
	float:left;
	clear: both;
}

.exhibitions-container2{

clear: right;

}
