
#exhibitions-banner{
	position:absolute;
	height: 250px;
	margin-top:-275px;

}

#exhibitions-building{
	height: 450px;

    float: right;


}

.exhibitions-container{


	}

#exhibitions-subtitle{

	height: 300px;
	float: right;


}

#exhibitions-placeholder{
	height: 400px;
	float:left;
	clear: both;
}

.exhibitions-container2{

clear: right;

}
