#hospitality-banner{
  position:absolute;
	height: 250px;
	margin-top:-275px;
}

#hospitality-building{
	width: 40%;

    float: right;


}

.hospitality-container{


	}

#hospitality-subtitle{

	height: 300px;
	float: right;


}

#hospitality-placeholder{
	height: 400px;
	float:left;
	clear: both;
}

.hospitality-container2{

clear: right;

}
