#hospitality-banner{
  	position:absolute;
	height: 300px;
	float: left;
	top:-190px;
	left: 54px;
}

#hospitality-building{
	width: 100%;

    float: right;


}

.hospitality-container{
font-family: Open Sans;

	}

#hospitality-subtitle{

	height: 300px;
	float: right;


}

#hospitality-placeholder{
	height: 400px;
	float:left;
	clear: both;
}

.hospitality-container2{

clear: right;

}
