.input-login {
				border-radius: 5px;
				border-width: 3px;
				border-color: black;
				padding: 5px 10px 5px 10px;
				margin: 5px 0px 5px 0px;

			}

			/*.form {
				width: 16%;
				margin: auto;
			}*/

			.loginsubmit {
				
				width: 10%;
				height: 10%;
			}

@media only screen and (max-width: 767px)
{
	.loginsubmit{
		width:50%;
		height: 30%; 
	}
}