@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);
.priority-nav {
  position: fixed;
  background: #f06d06;
  height: 50px;
  z-index: 99;
  width:100%;
}
.priority-nav > ul {
  list-style: none;
}
.priority-nav > ul > li {
  display: inline-block;
  position: relative;
}
.priority-nav > ul > li.overflow-nav {
  display: block;
}
.priority-nav a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 10px 15px;
}
.priority-nav.resizing {
  overflow: hidden;
}

.overflow-nav-list {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  position: absolute;
  top: 5%;
  opacity: 0;
  visibility: hidden;
  padding: 5px 0;
  width: 400px;
  color: #222;
  list-style: none;
  z-index: 99;
  
}
.overflow-nav-list a {
  color: black;
  font-weight: bold;
}
.overflow-nav-list a:hover, .overflow-nav-list a:active {
  background: #f06d06;
  color: white;
}
.overflow-nav-list.show {
  opacity: 1;
  visibility: visible;
}
.overflow-nav-list > li > a,
.overflow-nav-list .primary > a {
  color: black;
  display: block;
}
.overflow-nav-list .primary-last {
  margin-right: 0;
}

.overflow-nav-title {
  cursor: pointer;
  text-align: center;
  background: white;
  color: #222;
  border-radius: 50%;
  font-size: 10px;
  width: 2em;
  height: 2em;
  line-height: 2.2em;
  vertical-align: top;
  display: inline-block;
}

.hide {
  display: none !important;
}

.show-inline-block {
  display: inline-block !important;
}


