.input-login {
				border-radius: 5px;
				border-width: 3px;
				border-color: black;
				padding: 5px 10px 5px 10px;
				margin: 5px 0px 5px 0px;
				width: 100%;

			}

			.form {
			    
				margin: auto;
			}

			.registersubmit {
				
				width: 100%;
				padding-top: 5%;
				border-radius: 5px;
				border-width: 3px;
				border-color: black;
			}

			.help-block{

				color: red;
			}
			.radioButtons{
				margin-right: 3%;
				margin-left:6%; 
			}
			.radioButtons:first-child{
				margin-left: -0.5%;
			}
			.checkBox{
				margin-right: 4%;
			}
			.btn-large{
				max-width: 35%;
				
			}

			input[type=number]::-webkit-outer-spin-button,
			input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
			}

			input[type=number] {
            -moz-appearance:textfield;
			}

@media only screen and (max-width: 767px)
{
	.btn-large{
		width:50%;
		height: 30%; 
	}
}