.input-login {
				border-radius: 5px;
				border-width: 3px;
				border-color: black;
				padding: 5px 10px 5px 10px;
				margin: 5px 0px 5px 0px;
				width: 100%;

			}

			.form {
				width: 25%;
				margin: auto;
			}

			.registersubmit {
				width: 100%;
				margin-left: 25%;
				padding-top: 10px;
			}

.ng-dirty.ng-invalid {
	border-color: red;
}
.ng-dirty.ng-valid {
	border-color: green;
}