.input-login {
				border-radius: 5px;
				border-width: 3px;
				border-color: black;
				padding: 5px 10px 5px 10px;
				margin: 5px 0px 5px 0px;
				width: 100%;

			}

			.form {
				width: 25%;
				margin: auto;
			}

			.registersubmit {
				width: 100%;
				padding-left: 25%;
				padding-top: 10%;
				border-radius: 5px;
				border-width: 3px;
				border-color: black;
			}

			.help-block{

				color: red;
			}
			.radioButtons{
				margin-right: 3%;
				margin-left:7%; 
			}
			.radioButtons:first-child{
				margin-left: -4%;
			}
			.checkBox{
				margin-right: 4%;
			}

			input[type=number]::-webkit-outer-spin-button,
			input[type=number]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
			}

			input[type=number] {
            -moz-appearance:textfield;
			}

