@media screen and (max-width: 767px) and (min-width: 200px){
  #showsVideo{
  	display: none;
  }

  #envisageLookback{
  	display: none;
  }

   #shows-banner{
  	position:absolute;
  	top: -190px;
  	margin-left: -75px;
    -ms-transform: scale(0.7, 0.7); /* IE 9 */
    -webkit-transform: scale(0.7, 0.7); /* Safari,Chrome */
    -moz-transform: scale(0.7, 0.7);/* Mozilla */
    transform: scale(0.7, 0.7);

  }
  
}

#envisageLookback{
	text-align: center;
}

#shows-banner{
	position:absolute;
	height: 300px;
	float: left;
	top:-190px;
	left: 10px;


}

@font-face {
    font-family: Open Sans;
    src: url(fonts/OpenSans-Regular.ttf);
}

#shows-building{
	width: 100%;

    float: right;

}

#envisage{
	font-family: Open Sans;
	margin-left: 3%;
}

.shows-container{
font-family: Open Sans;
margin-left: 3%;
	}

#shows-subtitle{

	height: 300px;
	float: right;


}

#shows-placeholder{
	width: 400px;
	float:left;
	clear: both;
	margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
}

.shows-container2{

clear: right;
font-family: Open Sans;

}
