#socialCampaign-banner{
	position:absolute;
	height: 300px;
	float: left;
	top:-190px;
	left: 33px;
}

#socialCampaign-building{
	width: 100%;
 	height: 80%;
    float: right;


}

.socialCampaign-container{


	}

#socialCampaign-subtitle{

	height: 300px;
	float: right;


}

#socialCampaign-placeholder{
	height: 400px;
	float:left;
	clear: both;
}

.socialCampaign-container2{

clear: right;

}
