@media only screen and (max-width: 767px) and (min-width: 200px){
  
  #solutions-banner{
  	position:absolute;
  	top: -190px;
  	margin-left: -95px;
    -ms-transform: scale(0.5, 0.5); /* IE 9 */
    -webkit-transform: scale(0.5, 0.5); /* Safari,Chrome */
    -moz-transform: scale(0.5, 0.5);/* Mozilla */
    transform: scale(0.5, 0.5);

  }
  
}
#solutions-banner{
	position:absolute;
	height: 220px;
	float: left;
	top:-160px;
	left: 40px;
}

#solutions-building{
	width: 100%;
    float: right;


}

.solutions-container{
   margin-right: 1%;
   margin-left: 2%;
   font-family: Open Sans;
	}

.solutions-header{
position: relative;
text-align: left;
font-weight: bolder;
}


.table th, .table td,.table  {
    border: 1px solid black;
    border-collapse: separate;
}


#solutionsContainer{
	margin-left: 0;
	margin-right: 0;
}
