#solutions-banner{
	position:absolute;
	height: 220px;
	float: left;
	top:-160px;
	left: 40px;
}

#solutions-building{
	width: 100%;
    float: right;


}

.solutions-container{
   margin-right: 1%;
   font-family: Open Sans;
	}

.solutions-header{
position: relative;
text-align: left;
font-weight: bolder;
}


.table th, .table td,.table  {
    border: 1px solid black;
    border-collapse: separate;
}


#solutionsContainer{
	margin-left: 0;
	margin-right: 0;
}
