#spotlight-banner{
	position:absolute;
	height: 220px;
	float: left;
	top:-160px;
	left: 20px;

}

#spotlight-building{
 width:100%;
    float: right;
	top:-100px;
position: absolute;
}
.spotlight-container{

}

#spotlight-placeholder{
	height: 400px;
	float: left;
	clear: both;
}

.spotlight-container2{
  clear: right;
}
#spotlight-subtitle{
	height: 300px;
	float: right;

}
