#spotlight-banner{
	position:absolute;
	height: 250px;
	margin-top:-275px;

}

#spotlight-building{
 width:30%;
    float: right;

}
.spotlight-container{

}

#spotlight-placeholder{
	height: 400px;
	float: left;
	clear: both;
}

.spotlight-container2{
  clear: right;
}
#spotlight-subtitle{
	height: 300px;
	float: right;

}
