@media screen and (max-width: 767px) and (min-width: 200px){
  #summitTeaser{
  	display: none;
  }
  
}

#summit-banner{
	position:absolute;
	height: 300px;
	float:left;
	top:-190px;
	left: -50px;

}

#summit-building{
	width: 100%;

    float: right;



}

.summit-container{

font-family: Open Sans;
	}

#summit-subtitle{

	height: 300px;
	float: right;


}

#summit-placeholder{
	height: 400px;
	float:left;
	clear: both;
}

.summit-container2{

clear: right;

}
.summit-logo
{
border-radius: 100px;
width: 200px;
height:200px;
float: left;
margin-bottom:1vh;
margin-top:15vh;
}
.summit-description
{
	
	text-align: center;
	margin-bottom:1.75vh
}
.summit-info
{   
	font-size: 17px;
}

.summit-logo-partner
{
border-radius: 20px;
width:200px;
height:200px;
float: left;
margin-bottom:1vh;
margin-top:10vh;
}

.summit-info-partner
{   
	font-weight: bolder;
	font-size: 17px;
}
