<div class="about_us" ng-controller="AboutCtrl as about"><br><br>
<center>
			<img class="shaastra-logo-line" src='http://res.cloudinary.com/shaastra-org/image/upload/v1480441330/shaastra-2017/misc/shaastra_logo_line.png' style="width:15.8020527859vw;margin-right: 35.098973607vw; margin-left:35.098973607vw; padding-top: 50px;">

<img src='http://res.cloudinary.com/shaastra-org/image/upload/v1480440523/shaastra-2017/banners/Title.png' class="about_heading">
<div class="about_content">
<p>Shaastra is the annual technical festival of the Indian Institute of Technology - Madras, Chennai, India. With an annual footfall of more than 40,000 visitors and participants, Shaastra is one of the biggest inter-college fests in Asia. It is the only student managed event in the world and the first ever festival to be ISO certified, which is a reflection of the students’ enthusiasm and passion to guarantee the highest standards of quality. Shaastra returns in its 18th edition, bringing with it an enriching experience of innovation, competition and learning that has become its hallmark over the years.
</p>
<p>Mark the four days from December 31st to January 3rd on your calendars, as Shaastra will keep you engrossed in a plethora of professional shows, competitions, lectures and workshops that have a lot to offer to everybody. With some of the sharpest minds of the nation converging under one banner, one can expect to go back inspired.</p>
<p>The classic events of Shaastra shall return bigger and better and be joined by an injection of new exciting competitions. Envisage ​5​.0 will showcase several new acts crafted completely by students.​ Hand in hand, a group of international techno-artists will perform acts that are seldom seen in India and will surely leave you in awe.​ ​Robowars, Hackathon, Aeromodelling and several such competitions will both entertain and challenge the participants. One can also head back indoors to hear some of the pioneers of technology across the globe share their views on the latest happenings of the world. This year, to go hand-in-hand with our theme, Shaastra will be organizing and conducting the Accessibility Summit, to address this almost unnoticed issue in India. The Summit will attempt to remove limitations, tap opportunities and expand various important spheres to accommodate all.
</p>
<br>
<img src='images/banners/AUGMENT.png' class="augment_heading"><br><br>
<div id="theme">
<p>
<b>Shaastra 2017: Augment,</b> will narrate the story of how technology has an impact on people’s lives; from performing the devoir duty of lending  a helping  hand to exalt the facets of life as we know it. The way it ameliorates living standards in today’s world, of people with disabilities, as well as enhancing the way one can perceive the things around, we’ll paint our fest with the colours the marvel of technology has filled our world with.
</p>
<p>Shaastra 2017 will put technology on the pedestal. Be it advances in healthcare, improving the quality of education, augmenting the way we perceive things or solutions to a range of other problems, technology has bore us bountiful fruits. Be it chic wearables, Herculean exoskeletons, virtual reality platforms; Shaastra Augment promises to bring it all to you.  Additionally, we’ll also shed light on how technology is lending a helping hand to the society. The help technology is providing to those in need is simply sensational. The assistive technologies available now have touched the lives of innumerable, a touch more powerful than Midas’. The boom in their advancements and accessibility have helped elevate the lives of many, so come join us celebrate this marvel of technology as well.
</p>
<p>Extravagant has been the growth of technology over time, and legendary will be it’s tale.Be there at <b>Shaastra 2017: Augment,</b> as we tell you this story.
</p></div><br>

<iframe id="themeVideo" width="800" height="450" src="https://www.youtube.com/embed/IifiNfpDEiU" frameborder="0" allowfullscreen></iframe><br><br>
</div>
</center>
</div>