<div class="contact_us" ng-controller="ContactCtrl as frontend2017App">
<center>
<img id="events_imag" ng-src="http://res.cloudinary.com/shaastra-org/image/upload/v1480441191/shaastra-2017/verticals_image_and_departments/Contact-Us-Title-Image.png">
<h4 class="contact-1">Co-Curricular Affairs Secretary :  <b> Animesh Bagora </b></h4>
<h4>E-mail : animesh.bagora@shaastra.org <b></b></h4>
<h4>Phone Number :  <b> +91 9884299639

</b></h4>
</center>

<div >
<center>

<div ng-repeat="contact1 in frontend2017App.contents1" class="row">
<br><br>
<center>
<img id="dept_img" ng-src="http://res.cloudinary.com/shaastra-org/image/upload/v1480441191/shaastra-2017/verticals_image_and_departments/{{contact1.Team_Name}}.png"></center><br>
<p class="contact_det" ng-bind-html="contact1.Description"></p>
  <div class="col-sm-4">
<h4><b>{{contact1.Person_Name}} </b></h4>
<h4>{{contact1.Email}} </h4>
<h4>{{contact1.Phone}} </h4></div>
  <div class="col-sm-4"><h4><b>{{contact1.Person_Name2}} </b></h4>
<h4>{{contact1.Email2}} </h4>
<h4> {{contact1.Phone2}} </h4></div>
  <div class="col-sm-4"><h4><b>{{contact1.Person_Name3}} </b></h4>
<h4>{{contact1.Email3}} </h4>
<h4> {{contact1.Phone3}} </h4></div>
</div>
<div ng-repeat="contact2 in frontend2017App.contents2" class="row">
<br><br>
<center>
<img id="dept_img" ng-src="http://res.cloudinary.com/shaastra-org/image/upload/v1480441191/shaastra-2017/verticals_image_and_departments/{{contact2.Team_Name}}.png"></center><br>
<p class="contact_det" ng-bind-html="contact2.Description"></p>
  <div class="col-sm-6"><h4><b>{{contact2.Person_Name}} </b></h4>
<h4>{{contact2.Email}} </h4>
<h4>{{contact2.Phone}} </h4></div>
  <div class="col-sm-6"><h4><b>{{contact2.Person_Name2}} </b></h4>
<h4>{{contact2.Email2}} </h4>
<h4> {{contact2.Phone2}} </h4></div>

</div>
<div ng-repeat="contact3 in frontend2017App.contents3" class="row">
<br><br>
<center>
<img id="dept_img" ng-src="http://res.cloudinary.com/shaastra-org/image/upload/v1480441191/shaastra-2017/verticals_image_and_departments/{{contact3.Team_Name}}.png"></center>
<br>
<p class="contact_det" ng-bind-html="contact3.Description"></p>
  <div class="col-sm-12"><h4><b>{{contact3.Person_Name}} </b></h4>
<h4>{{contact3.Email}} </h4>
<h4>{{contact3.Phone}} </h4></div>
</div>
</center>
<br>
</div>
</div>
