<div style="margin-top:150px;" ng-controller="EventsCtrl">
  <div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4 col-xs-3">
  <img id="events-banner2" src="images/banners/events-Title-Banner.png">
  </div>
  </div>
  <br />
  <div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="col-sm-6 col-md-6 col-lg-6" id="eventsMainContent">
	<p>To spread Science and Technology around the globe, the Events team of Shaastra 2017 aims at bringing all the tech enthusiasts of the student community under one roof. The Shaastra Events team strives to achieve excellence in terms of getting the best minds to think and showcase their technical know-how. Shaastra caters to all by organizing events in various fields including aerobotics, coding, robotics, electronics, quizzing, and research. Additionally, various workshops are organized to serve as a learning platform for all.
 </p>
<p>So what's next? Gear up; face the challenges, solve and win prizes, goodies and much more. What are you still waiting for? Find a suitable event and join us in the exciting experience of biggest technical extravaganza at Shaastra 2017.
 </p><br>
<p style="font-size:150%"><b>Click <a href="../images/schedule2017-2.pdf" target="_blank">here </a>for Shaastra schedule</b></p>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="events-building" src="images/buildings/EVENTS2.png">
</div>
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
<br />
  <div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
  <div class="col-sm-10 col-md-10 col-lg-10">
  <div ng-repeat="events in eventList track by $index">
  <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" ng-if="events._id != '57e29fa4a65edf661ac45204'">
  <div class="eventbox2">
  <img class="img-thumbnail img-click imgstyle" ng-src="http://shaastra.org:8001/api/uploads/{{events.imageid}}/{{events.imagename}}" ng-click="goto($index)">
</div>
<br />
</div>
</div>
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
</div>
</div>


<!--
<ul>
<li id="aerofest"><a ng-href="/event-list/aerofest"><img class="events-buttons" src="../images/elements/events/aerofest-Button.png"></a></li>
<li id="b-Events"><a ng-href="/event-list/b-Events"><img class="events-buttons" src="../images/elements/events/b-Events-Button.png"></a></li>
<li id="coding"><a ng-href="/event-list/coding"><img class="events-buttons" src="../images/elements/events/coding-Button.png"></a></li>
<li id="electronics"><a ng-href="/event-list/electronics"><img class="events-buttons" src="../images/elements/events/electronics-Button.png"></a></li>
<li id="involve"><a ng-href="/event-list/involve"><img class="events-buttons" src="../images/elements/events/involve-Button.png"></a></li>
<li id="quizzing"><a ng-href="/event-list/quizzing"><img class="events-buttons" src="../images/elements/events/quizzing-Button.png"></a></li>
<li id="research"><a ng-href="/event-list/research"><img class="events-buttons" src="../images/elements/events/research-Button.png"></a></li>
</ul>
-->

</div>
