
<div class="bg_eventlist" style="margin-top:150px;" ng-controller="EventListsCtrl">
  
  <center>
  <img id="events-banner" ng-src="../images/banners_new/{{eventLists.title}}-Banner.png">
 <img id="events_image" ng-src="../images/verticals_image/{{eventLists.title}}-button.png">
  <div class="row">
  <div ng-repeat="eventLists in eventsJSON">
  <div class="col-sm-6 col-md-6 con-lg-6" ng-if="!$last || normal">
  	<div class="eventbox">
  <div ng-click="gotoEventDetails($index)" class="eventsname">{{eventLists.name}}</div>
</div>
</br>
</div>

<div class="col-sm-offset-3 col-sm-6 col-md-6 con-lg-6" ng-if="$last && !normal">
  <div class="eventbox">
  <div ng-click="gotoEventDetails($index)" class="eventsname">{{eventLists.name}}</div>
</div>
</br>
</div>

</div>

<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
</div>
 </center>
</div>
