<div class="eventdetails">
<div ng-controller="EventsDetailsCtrl">
<br /><br />
<div class="row">
<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
<div class="col-xs-10 col-sm-3 col-md-3 col-lg-3">
<br />
<img class="evdetimg" ng-src="http://shaastra.org:8001/api/uploads/{{eve.imageid}}/{{eve.imagename}}">

</div>
<!-- add event name -->
<h3 class="evnt_detail_heading"><b>{{eve.name}}</b></h3>
<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
<br/><br/>
<div class="evdetcontent">

	<div class="row">
	  <button ng-repeat="tabs in eve.eventTabs" class="eventab" ng-click="showInfo($index)">{{tabs.name}}</button>

	</div>

	<div class="det">
		<div v-html="input | marked" ng-bind-html="htmlContent"></div>
	</div>

</div>
</div>
</div>
</div>

</div>
