<div class="eventdetails">
<div ng-controller="EventsDetailsCtrl">

<!-- <img class="evdetimg img-responsive" alt="Responsive image" ng-src="http://shaastra.org:8001/api/uploads/{{eve.imageid}}/{{eve.imagename}}"> -->

<div class="quadcopterdiv1"><img class="quadcopter_img quadimage" src="images/Quadcopter.png"/></div>
<div class="quadcopterdiv2"><img class="quadcopter_img2 quadimage" src="images/Quadcopter.png"/></div>
<img class="cloud1" src="images/Clouds/Untitled-1.png">
<img class="cloud2" src="images/Clouds/Untitled-2.png">
<img class="cloud3" src="images/Clouds/Untitled-3.png">
<img class="cloud4" src="images/Clouds/Untitled-4.png">
<img class="cloud5" src="images/Clouds/Untitled-5.png">
<img class="cloud6" src="images/Clouds/Untitled-6.png">
<img class="cloud7" src="images/Clouds/Untitled-7.png">
<img class="cloud8" src="images/Clouds/Untitled-7.png">
<center>
<h2 class="evnt_detail_heading"><b>{{eve.name}}</b></h2><br>

<div id="marqueeNotif"><marquee id="markin" v-html="input | marked" ng-bind-html="marquee"></marquee></div>
<!-- add event name -->
<div class="tabs_eventsdet">
	  <button ng-repeat="tabs in eve.eventTabs" class="eventab" ng-class="{'last':$last, 'first': $first}" ng-click="showInfo($index)">{{tabs.name}}</button>
</div>

<div class="evdetcontent">
	<div class="det">
		<br>
		<div v-html="input | marked" ng-bind-html="htmlContent"></div>
	</div>

</div>
<img class="bottom_building" src="images/Bottom-Buildings.png"/>
</div>
</div>


</center>

