<div style="margin-top:150px;" ng-controller="ExhibitionsCtrl">

<div class="row">
<div class="col-sm-4 col-md-4 col-lg-4">
	<img id="exhibitions-banner" src="../images/elements/exhibitions/exhibitions-Title-Banner.png">
</div>
</div>
<br />


<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="exhibitions-container col-sm-6 col-md-6 col-lg-6" style="padding: 35px;">
<p>
Exhibitions showcases a plethora of innovations and recent developments in science and technology from all around the world. It’s a platform for tech enthusiasts and students from all over the country to learn, experience and interact with experts who have brought these into existence. 
</p>
<p>
The theme of Shaastra this year is Augment - which focuses on  assistive technologies for the differently abled, virtual and augmented reality, exoskeletons and wearables, among other such concepts which will help us unlock new dimensions. But cool innovations not falling under these verticals are most definitely welcome. 
</p>
<p>
Do you think your company has products like these which will enthrall the audience and capture their imaginations ? Do you want to reach out to students, scientists, potential customers and various other MNC’s coming down to Shaastra every year ? Do you want to associate with brand IIT Madras, the best engineering college in the country ?
</p>
<p>
Then all you’ve got to do is fill up this google form, and a Shaastra representative will get in touch with you soon.
</p>
<br><br>
<strong>Stay tuned for updates</strong>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="exhibitions-building" src="../images/buildings/EXHIBITIONS.png">
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
	


</div>









