<div style="margin-top:150px;" ng-controller="ExhibitionsCtrl">

<div class="row">
<div class="col-sm-4 col-md-4 col-lg-4">
	<img id="exhibitions-banner" src="images/banners/exhibitions-Title-Banner.png">
</div>
</div>
<br />


<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="exhibitions-container col-sm-6 col-md-6 col-lg-6" style="padding: 35px;">
<p>
Exhibitions showcases a plethora of innovations and recent developments in science and technology from all around the world. It’s a platform for tech enthusiasts and students from all over the country to learn, experience and interact with experts who have brought these into existence. 
</p>
<p>
We have a wide range of exciting exhibits this year encompassing Robotics, Assistive Technology, Electric Vehicles, Virtual Reality and other next generation devices.
</p>
<p>
Get ready to interact with artificially intelligent geniuses like MANAV - India’s first 3D Printed Humanoid Robot and NAO an advanced endearing companion.
</p>
<p>
Did you ever think controlling another object just by thinking was possible ? If not, then you are in for huge surprise as we are proud to present the World’s First production Mind Controlled Wheelchair developed by an Indian, Diwakar Vaish of A-SET Training Institutes.
</p>
<p>Get a chance to interact with a young Indian Social Entrepreneur, Arun Cherian who quit his research in the US, came back and developed the World’s First Cane Prosthetic legs, to help differently abled people lead more productive lives.</p>
<p>Also get a chance to experience next generation devices like the Mantis by Orxa Energies which is India’s first fully electric motorbike and a range of smart domestic robots which can clean your floors, walls and swimming pools developed by Milagrow Human Tech. Register <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSdB9KqSqF98s635JrgIuCGOz4pP0a-abSKtY0oAs8a9FSpgog/viewform?c=0&w=1">here</a> to test-drive the Mantis!</p>
<p>Come to the Exhibitions arena at Shaastra 2017, to witness these and many more marvels of technology and also get a chance to interact with their brilliant creators.</p>
<br><br>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="exhibitions-building" src="images/buildings/EXHIBITIONS2.png">
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
	
<center><div id="myCarousel" class="carousel slide" data-ride="carousel" style="width:80%; ">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="images/exhibitions/e1.png">
    </div>

    <div class="item">
      <img src="images/exhibitions/e2.jpg">
    </div>

    <div class="item">
      <img src="images/exhibitions/e3.jpg">
    </div>

    <div class="item">
      <img src="images/exhibitions/e5.png">
    </div>

    <div class="item">
      <img src="images/exhibitions/e4.jpg">
    </div>

    <div class="item">
      <img src="images/exhibitions/e6.jpg">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div></center><br><br>


</div>









