<div class="forgot_pass" style="margin-top:80px;" ng-controller="Forgot_PswdCtrl">
<center> <h2><b>Forgot Password</b></h2>
<br><br>    
        <form class="form" name="form" ng-submit="forgotPassword(form)" novalidate>

          <div class="form-group">
            <label>Please enter your email address :</label>

            <input type="email" name="email" class="form-control" ng-model="resetEmail" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i" required>
          </div>

          <span class="help-block"> {{ message }} </span>

          <button class="btn btn-md btn-success btndownl" type="submit">Request reset</button>
        </form>
     </center>
</div>