
<div class="bg_eventlist" style="margin-top:80px;">
  
  <center>
  	<h1>Funzone</h1>
<br>
 
 <div style="text-align:left;margin-left:50px;">
 <p>For all those who think SHAASTRA is all about serious tech, do visit FunZone to get proven wrong. Shaastra FunZone presents you fun and adventurous activities that you have always wanted to do. Stay tuned for further updates.</p>
 <h3><b>RE-LOAD Paintball</b></h3>
 <h4>Home</h4>
 <p>Are you a first person shooter game addict? Quench your thirst for a liveFPS experience @ Shaastra 2017. Shaastra 2017 with <a href="http://www.takediversion.life/">Take Diversion</a> brings to you – RE-LOAD,a paintball adventure sportexperience unlike anything you have seen before.</a></p>
 <p>RE-LOAD is an adrenalin thumping thrill experience that gives you THE much needed break from your  routine. With multi-dimensional strategic game format, RE-LOAD will keep you entertained at Shaastra 2017.</p>
 <h4>Event Format</h4>
 <ul>
 	<li>Game formats - One – on- One or teams of two fighting it out.You can register individually or as a team of two people below</li>
 	<li>Each registered player gets 40 paintballs to un-load against their opponent(s). The game strategy / goal will be given on the field to the teams to choose before the game.</li>
 	<li>Each game will last for not more than 15 minutes or till the depletion of paintball ammo, whichever comes first. Once you are out of ammo – you are out of the field.</li>
 	<li>On the field the referee’s decision is final. Any player on the field should adhere to the referee s instruction</li>
 	<li>Allow each game 20 to 30 minutes which includes registration check, gearing-up for safety, instructions and game-on.</li>
 	<li>All event communications shall be through whatsapp on registered mobile numbers only</li>
 	<li>Game roaster will be prepared and published by the coordinators on whatsapp and there will be no change in game timings.</li>
 	<li>30 minutes required for registration check, gearing-up for safety, instructions and game-on.</li>
 	<li>Not reporting sharp 30 mins before your match callout is counted as no show and the slot shall be released for on the spot registrants.</li>
 </ul>
 <h3><b>RE-ZOOM RC Racing</b></h3>
 <h4>Home</h4>
 <p>Do you love the fast pace action of racing? You now have a chance to prove your mettle on our RC track. Shaastra 2017 with <a href="http://www.takediversion.life/">Take Diversion</a> brings to you – RE-ZOOM,an off-road racing track for 1:10th scale Electric RC(Remote Controlled) Car racing.</p>
 <p>Drive our 1:10<sup>th</sup> scale monster trucks to clock the fastest lap at Shaastra 2017 and win exciting prices.
</p>
<h4>Event Format</h4>
<ul>
 	<li>Each RE-ZOOM driver gets a trial time of 3 minutes to take the monster truck for a spin before she/ he gets to do a timed race against the lap. </li>
 	<li>Only TakeDiversion RC cars are allowed on the track. Own cars shall not be allowed on the trackLap timing will be handled by Referee on the site. Referee’s decision is final.</li>
 	<li>Before each run, RE-ZOOM drives will be briefed on how to drive the cars, safety and precautions.</li>
 	<li>Exciting prizes for hourly/daily/event leaders.</li>
 </ul>

<br><br>
</div>
