<div style="margin-top:150px;" ng-controller="HospitalityCtrl">
 <div class="row">
 <div class="col-sm-4 col-md-4 col-lg-4">
	<img id="hospitality-banner" src="../images/elements/hospitality/hospitality-Title-Banner.png">
</div>
</div>
<br />
<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="hospitality-container col-sm-6 col-md-6 col-lg-6">
<p>
Shaastra, the annual technical festival of IIT Madras, is undeniably one of the largest technical festivals of India, achieving huge feats with unparalleled figures ever since its inception in 2000. 
</p>
<p>
 With such vastness and diversity, Hospitality of the guests is of paramount importance. Hospitality is often limited in our thinking to being friendly to the new-comer. But we, the Media and Student Relations team shall leave no stone unturned to ensure that your stay with us is enjoyable and comfortable.
</p>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="hospitality-building" src="../images/buildings/HOSPI2.png">
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
<br />




</div>
