		<div class="content">
			<img class="shaastra-logo-line" src='../images/design-2/shaastra_logo_line.png' style="width:29.8020527859vw; margin-right: 35.098973607vw; margin-left:35.098973607vw; padding-top:11%;"><br><br>
            <div class="col-lg-1 col-xs-1 col-md-1"></div>
			<div class="col-lg-10 col-xs-10 col-md-10">
				<form method="post" id="login">
					<input type="email" class="input-login" placeholder="Email Address" id="loginemail" ng-model="username"><br>
					<input type="password" class="input-login" placeholder="Password" name="loginpassword" ng-model="password"><br>
					
					<br>
					<center>
					<input type="image" class="loginsubmit" name="loginsubmit" value="loginsubmit" src="../images/design-2/login&RegisterElements/Login-Button.png" alt="Submit" onmouseover="this.src='../images/design-2/login&RegisterElements/Login-Button.png'"  ng-click="loginUser()">
					</center>
					<br><br>
					<center> <a href="/#/forgot-password">Forgot Password?</a></center><br>

					<center> <a href="/#/register">New user? Click here to register</a></center>

				</form>

				
			</div>
		</div>