    <link rel="stylesheet" href="styles/main.css">
<div id="skrollr-body">
	<div id="Scene">
		<div id="bg1" class="parallax-layer"
			data-0="left:0px;"
			data-20000="left:-8680px;">
		</div>
		<div id="bg2" class="parallax-layer"
				data-0="left:0px;"
		data-20000="left:-4340px;">
			
		</div>
		<div id="man" class="parallax-layer"
		data-0="left:185px;"
		data-20000="left:185px;"
		data-25000="left:1000px;">
		</div>
	</div>
</div>

	

	<script type="text/javascript">
	var man = $('#man'),
	pLocs = [0, -105, -210, -315]
	curFrm = 0,
	lastStep=0;

skrollr.init({
	beforerender: function(o){
		// If the user has scrolled 50 pixels down
		// since the last time we shifted the background image,
		// we must be moving forward, so move to the next frame
		// in the spritesheet
		if(o.curTop > lastStep + 50) {
			if (curFrm>=4){ curFrm=-1; }
			man.css('background-position', pLocs[curFrm++] + 'px 0px');
			lastStep = o.curTop;
		// If the user has scrolled 50 pixels up,
		// we’re moving backwards, so move to the previous frame
		} else if(o.curTop < lastStep - 50) {
			if (curFrm<=-1){ curFrm=4; }
			man.css('background-position', pLocs[curFrm--] + 'px 0px');
			lastStep = o.curTop;
		}
	}
});
skrollr.init.destroy();

	</script>