<!-- <link rel="stylesheet" href="styles/main.css"> -->

 <div style="position:fixed; margin-top:85vh; margin-left:75vw; z-index:1; width:280px; height:60px; background-color:black; border-radius:30px;float:right;" class="socialTab">
   <a target='_blank' href="https://www.facebook.com/Shaastra/"><img style="position:fixed; z-index:100; margin-top:10px; margin-left:20px; height:38px;" src="http://res.cloudinary.com/shaastra-org/image/upload/v1480440521/shaastra-2017/social_icons/Facebook-Logo-Flat-Line-Circle.png"></a>

   <a target='_blank' href="https://twitter.com/ShaastraIITM/"><img style="position:fixed; z-index:1; height:40px; margin-top:10px; margin-left:70px;" src="http://res.cloudinary.com/shaastra-org/image/upload/v1480440521/shaastra-2017/social_icons/Twitter-Logo-Flat-Line.png"></a>
   <a target='_blank' href="https://www.youtube.com/user/iitmshaastra/"><img style="position:fixed; z-index:1; margin-top:10px; height:40px; margin-left:120px;" src="http://res.cloudinary.com/shaastra-org/image/upload/v1480440521/shaastra-2017/social_icons/YouTube-Logo-Flat-Line.png"></a>
   <a target='_blank' href="https://www.instagram.com/shaastra_iitm/"><img style="position:fixed; z-index:1; margin-top:10px; height:40px; margin-left:170px;" src="http://res.cloudinary.com/shaastra-org/image/upload/v1480440521/shaastra-2017/social_icons/Instagram-Logo-Flat-Line.png"></a>
   <a href="/#/contact"><img style="position:fixed; z-index:100; margin-top:10px; margin-left:220px; height:40px;" src="http://res.cloudinary.com/shaastra-org/image/upload/v1480440521/shaastra-2017/social_icons/Phone-Flat-Line.png"></a>
 </div>
<div id="homeMobileContainer"><img id="homeForMobile" src="http://res.cloudinary.com/shaastra-org/image/upload/v1480440521/shaastra-2017/home_and_events/static_final.png"></div>
<div id="skrollr-body">
	<div id="Scene">

		<div id="mouse-icon" data-0 = "display:initial" data-250 = "display:none">
  			<div id="scroll-wheel"></div>
		</div>

		<div id="bg1" class="parallax-layer"
			data-0="left:0px;"
			data-20000="left:-8685px;">
			<a href="/events"><div class="ev"></div></a>
			<a href="/summit"><div class="sum"></div></a>
			<a href="/social-campaign"><div class="soccamp"></div></a>
			<a href="/event-lists/57e29fa4a65edf661ac45204"><div class="wshop"></div></a>
			<a href="/spotlight"><div class="lecser"></div></a>
			<a href="/shows"><div class="sh"></div></a>
			<a href="/exhibitions"><div class="ex"></div></a>
			<a href="/hospitality"><div class="hos"></div></a>
			<a href="/solutions"><div class="sol"></div></a>
			<a target='_blank' href="http://surc.shaastra.org/#/SURC/Prelims"><div class="out"></div></a>
			<a href="/sponsors"><div class="spon"></div></a>
			<a href="/about#theme"><div class="augment"></div></a>
			<!-- how the background moves -->
		</div>
		<div id="bg2" class="parallax-layer"
		data-0="left:0px;"
		data-20000="left:-3705px;">
			<!-- how the clouds move -->
		</div>
		<div id="man" class="parallax-layer"
		data-0="left:185px"
		data-20000="left:185px;">
		<!-- callout -->
		<p class="speech2" data-0="display:block" data-300 = "display:none">Welcome! Use the arrow keys or scroll wheel to move.</p>

		<p class="speech" data-0="display:none" data-2500 = "display:block" data-3300 = "display:none">Click the heading on the buildings to direct you to the respective page.</p>

			<!-- how the sprite moves -->
		</div>
	</div>
</div>


	<script type="text/javascript">

	$(document).keydown(function(e) {
    	switch(e.which) {
        	case 37: 
        		var goBack = parseInt($("body").scrollTop()) - 50;
    			$("body").scrollTop(goBack);
        		console.log("Left");
        	break;

        	case 39: 
        		var goTo = parseInt($("body").scrollTop()) + 50;
    			$("body").scrollTop(goTo);
        		console.log("Phew");
    	    break;

    	    default: return; // exit this handler for other keys
	    }
    	e.preventDefault(); // prevent the default action (scroll / move caret)
	});


	function startScrolling(obj, param){
		console.log("Came here");
   		obj.animate({"top": param}, "fast");
	}

	var p = Math.random();
	var man = $('#man'),
	curFrm = 0,
	lastStep=0;
	winW = $(window).width();
	console.log(winW);

	if( winW >= 768) {
 
       skrollr.init({
	beforerender: function(o){
		// If the user has scrolled 50 pixels down
		// since the last time we shifted the background image,
		// we must be moving forward, so move to the next frame
		// in the spritesheet
		if (p<=0.3){
			pLocs = [0, -105, -210, -315];
			$('#man').addClass('jetpack');
			if(o.curTop > lastStep + 50) {
				$('#man').removeClass('jetpack-reverse');
				$('#man').addClass('jetpack');
				if (curFrm>=4){ curFrm=-1; }
				man.css('background-position', pLocs[curFrm++] + 'px 0px');
				lastStep = o.curTop;
				}
			else if(o.curTop < lastStep - 50) {
				$('#man').removeClass('jetpack');
				$('#man').addClass('jetpack-reverse');
				if (curFrm<=-1){ curFrm=4; }
				man.css('background-position', pLocs[curFrm--] + 'px 0px');
				lastStep = o.curTop;
				}
			}
		else if (p>0.3 && p<=0.7){
			pLocs = [0, -150, -302, -450];
			$('#man').addClass('blind');
			if(o.curTop > lastStep + 50) {
				$('#man').removeClass('blind-reverse');
				$('#man').addClass('blind');
				if (curFrm>=4){ curFrm=-1; }
				man.css('background-position', pLocs[curFrm++] + 'px 0px');
				lastStep = o.curTop;
				}
			else if(o.curTop < lastStep - 50) {
				$('#man').removeClass('blind');
				$('#man').addClass('blind-reverse');
				if (curFrm<=-1){ curFrm=4; }
				man.css('background-position', pLocs[curFrm--] + 'px 0px');
				lastStep = o.curTop;
				}
			}
		else {
			pLocs = [0, -130, -260];
			$('#man').addClass('wheelchair');
			if(o.curTop > lastStep + 50) {
				$('#man').removeClass('wheelchair-reverse');
				$('#man').addClass('wheelchair');
				if (curFrm>=3){ curFrm=-1; }
				man.css('background-position', pLocs[curFrm++] + 'px 0px');
				lastStep = o.curTop;
				}
			else if(o.curTop < lastStep - 50) {
				$('#man').removeClass('wheelchair');
				$('#man').addClass('wheelchair-reverse');
				if (curFrm<=-1){ curFrm=3; }
				man.css('background-position', pLocs[curFrm--] + 'px 0px');
				lastStep = o.curTop;
				}
			}
		}
});
 
    } else {
 
        // Init Skrollr
        var s = skrollr.init();
        s.destroy();
    }

    if(Modernizr.touch) {
 
        // Init Skrollr
        var s = skrollr.init();
        s.destroy();
    }

	</script>
