<link rel="stylesheet" href="styles/main.css">

 <div style="position:fixed; margin-top:85vh; margin-left:80vw; z-index:1; width:230px; height:60px; background-color:black; border-radius:10px;">

   <a href="https://www.facebook.com/Shaastra/"><img style="position:fixed; z-index:100; margin-top:10px; margin-left:8px; height:40px;" src="../images/Facebook-Logo-Flat-Line-r-n.png"></a>
   <a href="https://twitter.com/ShaastraIITM/"><img style="position:fixed; z-index:1; height:40px; margin-top:10px; margin-left:60px;" src="../images/Twitter_Bird.png"></a>
   <a href="https://www.youtube.com/user/iitmshaastra/"><img style="position:fixed; z-index:1; margin-top:10px; height:40px; margin-left:120px;" src="../images/YouTube-Logo-Flat-Line-r.png"></a>
   <a href="https://www.instagram.com/shaastra_iitm/"><img style="position:fixed; z-index:1; margin-top:10px; height:40px; margin-left:180px;" src="../images/Instagram-Logo-Flat-Line.png"></a>

 </div>

<div id="skrollr-body">
	<div id="Scene">

		<div id="bg1" class="parallax-layer"
			data-0="left:0px;"
			data-20000="left:-8680px;">
			<a href="#/events"><div class="ev but"></div></a>
			<a href="#/summit"><div class="sum but"></div></a>
			<a href="#/socialCampaign"><div class="soccamp but"></div></a>
			<a href="#"><div class="wshop but"></div></a>
			<a href="#"><div class="lecser but"></div></a>
			<a href="#"><div class="sh but"></div></a>
			<a href="#"><div class="ex but"></div></a>
			<a href="#"><div class="hos but"></div></a>
			<a href="#"><div class="sol but"></div></a>
			<a href="#"><div class="out but"></div></a>
			<a href="#"><div class="spon but"></div></a>
			<!-- how the background moves -->
		</div>
		<div id="bg2" class="parallax-layer"
		data-0="left:0px;"
		data-20000="left:-4340px;">
			<!-- how the clouds move -->
		</div>
		<div id="man" class="parallax-layer"
		data-0="left:185px"
		data-20000="left:185px;"
			<!-- how the sprite moves -->
		</div>
	</div>
</div>


	<script type="text/javascript">
	var p = Math.random();
	console.log(p);
	var man = $('#man'),
	curFrm = 0,
	lastStep=0;
skrollr.init({
	beforerender: function(o){
		// If the user has scrolled 50 pixels down
		// since the last time we shifted the background image,
		// we must be moving forward, so move to the next frame
		// in the spritesheet
		if (p<=0.3){
			pLocs = [0, -105, -210, -315];
			$('#man').addClass('jetpack');
			if(o.curTop > lastStep + 50) {
				if (curFrm>=4){ curFrm=-1; }
				man.css('background-position', pLocs[curFrm++] + 'px 0px');
				lastStep = o.curTop;
				}
			else if(o.curTop < lastStep - 50) {
				if (curFrm<=-1){ curFrm=4; }
				man.css('background-position', pLocs[curFrm--] + 'px 0px');
				lastStep = o.curTop;
				}
			}
		else if (p>0.3 && p<=0.7){
			pLocs = [0, -150, -300, -450];
			$('#man').addClass('blind');
			if(o.curTop > lastStep + 50) {
				if (curFrm>=4){ curFrm=-1; }
				man.css('background-position', pLocs[curFrm++] + 'px 0px');
				lastStep = o.curTop;
				}
			else if(o.curTop < lastStep - 50) {
				if (curFrm<=-1){ curFrm=4; }
				man.css('background-position', pLocs[curFrm--] + 'px 0px');
				lastStep = o.curTop;
				}
			}
		else {
			pLocs = [0, -130, -260];
			$('#man').addClass('wheelchair');
			if(o.curTop > lastStep + 50) {
				if (curFrm>=3){ curFrm=-1; }
				man.css('background-position', pLocs[curFrm++] + 'px 0px');
				lastStep = o.curTop;
				}
			else if(o.curTop < lastStep - 50) {
				if (curFrm<=-1){ curFrm=3; }
				man.css('background-position', pLocs[curFrm--] + 'px 0px');
				lastStep = o.curTop;
				}
			}
		}
});
	</script>