
<div class="bg_eventlist" style="margin-top:80px;">
  
  <center>
  	<h1>Payment Information</h1>
<br>
 
 <div style="text-align:left;margin-left:50px;">
 <h3><b>Workshops payment:</b></h3>
 <p>Base charge (INR 300) + Workshop module charges as applicable for the workshop your are registered and selected for.</p>
 <p>Every person attending any of the workshop needs to pay a base charge of INR 300.</p>
 <h3>Workshops for which additional module charges are applicable:</h3>
 <p>All the <a target="_blank" href="/workshops/Electrical%20and%20Managerial">industrial workshops</a></p>
 <p>All the <a target="_blank" href="/workshops/Robotics">robotics workshops</a></p>
 <p>The applicable module amount for each of these workshops is mentioned in the tab for that particular workshop on the website.</p>
 <h3><b>Step wise Procedure to register and payment:</b> </h3>
 <ol>
 	<li>Go to SBI icollect <a target="_blank" href="https://www.onlinesbi.com/prelogin/icollecthome.html">here</a>.</li>
 	<li>Select "Tamil Nadu" for <b>State of Corporate/Institution</b> option and "Educational Institutions" for <b>Type of Corporate/Institution</b> option.</li>
 	<li>Select "IITM STUDENTS ACTIVITIES TRUST-SHAASTRA" for <b>Educational Institutions Name</b> option.</li>
 	<li>Select "Workshop Stamp - 2017" for <b>Select Payment Category</b> option.</li>
 	<li>Fill in your details and proceed for payment.</li>
 	<li>Repeat the procedure to pay for the workshop you are attending ( if charges applicable).</li>
 	<li>You need to repeat the procedure multiple times, in case you are attending multiple workshops.</li>
 </ol>
 <h3><b>Accomodation :</b></h3>
 <p>Payments for accommodation will be done on-spot during Shaastra. </p>
 <p>Every person having approval for accommodations need to pay at the spot for accommodations. These payments are completely independent of payments for workshops.
</p>
<h3>FAQs:</h3>
<p>Question: What does the approval for accommodation mean exactly?</p>
<p>Answer: Shaastra Student Relations Team will send a confirmation mail to all the people who have applied for accommodation(Ticked the accommodation checkbox while registration) and have responded positively. This mail will reach you on or before 20/12/2016.</p>

<br><br>
</div>
