
		
		<div class="content">
			<img class="shaastra-logo-line" src='../images/design-2/shaastra_logo_line.png' style="width:29.8020527859vw; margin-right: 35.098973607vw; margin-left:35.098973607vw; padding-top: 100px;">
			<div class="col-lg-1 col-xs-1 col-md-1"></div>
			<div class="col-lg-10 col-xs-10 col-md-10">
				<form method="post" id="register" name="registerform" novalidate ng-submit="submit(registerform)">
					<input type="text" class="input-login" placeholder="First Name" id="field1" name="field1" value="" required class="alphabetic" ng-model="field1">
					<label class="help-block" ng-show="registerform.field1.$error.required &&submitted">
					First Name is required
					</label>
					<input type="text" class="input-login" placeholder="Last Name" id="field2" name="field2" value="" required class="alphabetic" ng-model="field2">
					<label class="help-block" ng-show="registerform.field2.$error.required &&submitted">
					Last Name is required
					</label>
					<input type="email" class="input-login" placeholder="Email" id="field3" name="field3" value="" required ng-model="field3">
					<label class="help-block" ng-show="registerform.field3.$error.required &&submitted">
				    Email Address is required
					</label>
					<label class="help-block" ng-show="registerform.field3.$error.email &&submitted">
					Enter valid email address.
					</label>
					<input type="password" class="input-login" placeholder="Password" id="field4" name="field4"  required ng-model="field4" ng-minlength="5" ng-change="checkPass()">
					<label class="help-block" ng-show="registerform.field4.$error.required &&submitted">
					Password is required
					</label>
					<label class="help-block" ng-show="registerform.field4.$error.minlength &&submitted">
					Password must have atleast 5 characters
					</label>
					<input type="password" class="input-login" placeholder="Confirm Password" id="field5" name="field5" ng-model="field5"  ng-change="checkPass()" required>
					<label class="help-block" ng-show="match && submitted">
					Passwords do not match
					</label>
					<input type="text" class="input-login" class="numeric" placeholder="Phone Number" id="field6" name="field6" ng-model="field6"  required ng-minlength="10" ng-maxlength="10">
					<label class="help-block" ng-show="registerform.field6.$error.required &&submitted">
				    Phone number is required
					</label>
					<label class="help-block" ng-show="registerform.field6.$error.minlength &&submitted">
            		Enter 10 digit number
          			</label>
					<input type="text" class="input-login" placeholder="City" id="field7" name="field7" value="" ng-model="field7" required>
					<label class="help-block" ng-show="registerform.field7.$error.required &&submitted">
				    City is required
					</label>
					<input type="text" class="input-login" placeholder="Age" id="field8" name="field8" value="" ng-model="field8" required>
					<label class="help-block" ng-show="registerform.field8.$error.required &&submitted">
				    Age is required
					</label>
					<div class="input-login" id="field9">
						<span class="radioButtons"> Male</span><input name="Gender" value="Male" type="radio" required ng-model="field9">
						<span class="radioButtons"> Female</span><input name="Gender" value="Female" type="radio" required ng-model="field9">
					</div>
					<label class="help-block" ng-show="registerform.Gender.$error.required &&submitted">
				    Select Gender
					</label>
					<select class="input-login" placeholder="State" id="field10" name="field10" required ng-model="field10">
						<option value="" disabled selected style="display: none;">State</option>
						<option ng-repeat="state in allStates" value="{{state}}">{{state}}</option>
					</select>
					<label class="help-block" ng-show="registerform.field10.$error.required &&submitted">
				    Select State
					</label>
					<!-- <div class="input-login" id="field11" name="field11">
						<span class="radioButtons">College</span><input type="radio" name="occupation" required ng-model="field11" value="College">
						<span class="radioButtons">School/Work</span><input type="radio" name="occupation" required ng-model="field11" value="School/Work">
					</div>
					<label class="help-block" ng-show="registerform.occupation.$error.required &&submitted">
				    Select if school student or not
					</label> -->
					<select class="input-login" id="field12" name="field12" ng-model="field12" ng-change="printPlease()" required>
						<option value="" disabled selected style="display: none;">College</option>
						<option ng-repeat="college in allColleges" value="{{college._id}}">{{college.collegeName}}</option>					
          			</select>

					<label class="help-block" ng-show="registerform.field12.$error.required &&submitted">
				    Select College
					</label>

					<input ng-show="field12 == '57fa100ddc7040acadc7faa9'" type="text" class="input-login" placeholder="College Name" id="otherCollege" name="otherCollege" ng-model="otherCollege" ng-required="field12 == '57fa100ddc7040acadc7faa9'">
					<label class="help-block" ng-show="registerform.otherCollege.$error.required &&submitted">
				    College Name is required
					</label>
                    <br><br>
					<input type="checkbox" name="accomodation" id="field15" name="field15" ng-model="field15"><span class="checkBox">Accommodation (Tick if required)</span><br><br>

					<div vc-recaptcha key="'6Lf1ktUSAAAAALOtemzm08LVwHmfku6yXXCdrMJn'"></div>

					<div class="registersubmit">
                    <center>
					<button type="submit" class="btn btn-primary btn-large"  style=" border-radius: 7px;border-width: 3px;border-color: black;border-style: solid;">REGISTER</button>
					</center>
					</div><br>
					<center> <a href="/#/login">Already registered? Click here to login</a></center><br><br>
				</form>
			</div>
		</div>