<div class="shows_view" style="margin-top:150px;" ng-controller="ShowsCtrl">
<div class="row">
<div class="col-sm-4 col-md-4 col-lg-4">
	<img id="shows-banner" src="images/banners/shows-Title-Banner.png">
</div>
</div>
<br />
<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>

<div class="shows-container col-sm-6 col-md-6 col-lg-6">
<h3><b>Formula DrOne</b></h3>
<p>Shaastra in committed to fuel a sense of passion and interest in latest technological disruptions among the youth of this country. We are proud to present <b>Formula DrOne</b>, India’s first night Drone Racing Event in association with the Indian Drone Racing League.</p> 
<p><b>FPV drone racing</b> is a rapidly evolving ultra modern sport capturing imaginations of tech enthusiasts and geeks worldwide. Imagine flying around in a Tron like world with neon light streaks and markers all around. Your field of view, like that of a rebel pilot in Star Wars whizzing through the action. This is kind of what it feels like to be a pilot in a drone race.</p>
<p>This Shaastra get immersed in a futuristic atmosphere with drones whizzing past you at over 100Km/Hr in one of the most complicated race circuits ever built. Get ready to feel the 'a-drone-aline' rush this New Year as you watch India’s top pilots battle it out for ultimate glory ! Jaw dropping thrill is in store for the night of <b>2nd January</b> along with a chance to experience the action first hand in a <b>Virtual Drone Simulator</b>.</p>
<br><br>

<strong>Stay tuned for further updates !</strong>
<br><br>

</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="shows-building" src="images/buildings/SHOWS2.png">
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>

<br /><br><br><br>
<center><iframe id="showsVideo" width="800" height="450" src="https://www.youtube.com/embed/xcgQbqlRTeA" frameborder="0" allowfullscreen></iframe></center>
	<img id="shows-subtitle" src="images/banners/subtitle_shows.png ">

<div id="envisage">
	<div class="row">
  <img id="shows-placeholder" src="images/misc/envisage.png" class="col-sm-3">
  <div class="shows-container2 col-sm-7">
Shaastra introduced a technologically aided cultural show 5 years ago - Envisage; which is one of its kind in India. Envisage is a technical marvel as the fusion of art and technology that pleasures your visual senses and overwhelms you with audio effects.

Have you ever seen creating images and patterns out of flowing water?  Have you ever seen music coming out of empty hands? Have you ever seen a guy dancing turns into amazing graphics? Envisage-5.0 brings you all of it. You are going to feel the pinnacle of entertainment with fascinating technology involved through our projects. It is going to be an exciting and exhilarating experience. Feast your eyes and ears on the enticing projects coming together as a show completely run by students of IIT Madras.

After four successful editions of Envisage, this year Shaastra 2017 presents you Envisage-5.0 on Day 1, which is going to be more bigger and better. 
</div>
</div>

</div>
<div id="envisageLookback"><iframe width="800" height="450" src="https://www.youtube.com/embed/f0IxUFnBxIg" frameborder="0" allowfullscreen></iframe></div><br>


</div>
