<div class="shows_view" style="margin-top:150px;" ng-controller="ShowsCtrl">
<div class="row">
<div class="col-sm-4 col-md-4 col-lg-4">
	<img id="shows-banner" src="../images/elements/shows/shows-Title-Banner.png">
</div>
</div>
<br />
<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="shows-container col-sm-6 col-md-6 col-lg-6">
If you thought Freestyl Air were amazing and were left spellbound by Adelaida's performance then you are in for an experience of a life time. Elevate your New Year experience to get mesmerized by the shows from the future that break boundaries between imagination and reality at the captivating environs of IIT Madras! Witness artists from across the globe enthrall thousands in the audience with their 'tech-nique' and 'tech-tics' that will test your notions of the impossible. With ‘Augment’ being the theme this year get ready to be awed by the huge spectrum of shows and exhibitions about to come your way this Shaastra!  

<br><br>
<strong>Coming Soon</strong>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="shows-building" src="../images/buildings/SHOWS2.png">
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>

<br /><br><br><br>
<center><iframe width="800" height="450" src="https://www.youtube.com/embed/Iq8uGYtlmIA" frameborder="0" allowfullscreen></iframe></center>
	<img id="shows-subtitle" src="../images/elements/subtitle_shows.png ">

<div id="envisage">
  <img id="shows-placeholder" src="../images/envisage.png ">
  <div class="shows-container2 container" >
Shaastra introduced a technologically aided cultural show 5 years ago - Envisage; which is one of its kind in India. Envisage is a technical marvel as the fusion of art and technology that pleasures your visual senses and overwhelms you with audio effects.

Have you ever seen creating images and patterns out of flowing water?  Have you ever seen music coming out of empty hands? Have you ever seen a guy dancing turns into amazing graphics? Envisage-5.0 brings you all of it. You are going to feel the pinnacle of entertainment with fascinating technology involved through our projects. It is going to be an exciting and exhilarating experience. Feast your eyes and ears on the enticing projects coming together as a show completely run by students of IIT Madras.

After four successful editions of Envisage, this year Shaastra 2017 presents you Envisage-5.0 on Day 1, which is going to be more bigger and better. 
</div>
</div>
<div id="envisageLookback"><iframe width="800" height="450" src="https://www.youtube.com/embed/AeiPjo_F_cc" frameborder="0" allowfullscreen></iframe></div><br>


</div>
