<div style="margin-top:150px;" ng-controller="SocialcampaignCtrl">
 <div class="row">
 <div class="col-sm-4 col-md-4 col-lg-4">
<img id="socialCampaign-banner" src="../images/elements/socialCampaign/social-Campaign-Title-Banner.png">
</div>
</div>
<br />
<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="socialCampaign-container col-sm-6 col-md-6 col-lg-6" >
<p>Pledge A Book 2015 was taken up based on the previous success, and the plan was to scale up to a national level by expanding on both on-ground and online presence. Highlights are as follows:</p>
<ul>
<li>This time, we also had managed to bump up the no. of stakeholders in the campaign
<ul>
<li><strong>20+</strong> NGO partner associations</li>
<li><strong>5-6</strong> franchise based associations (Crossword, Shell, Just Buy Cycles etc)</li>
<li>
<strong>Logistic</strong> partner (Cargoji)</li>
<li>Associated with over <strong>10 schools</strong> all across Chennai.</li>
</ul>
<li>

<strong>Numerous print media</strong> and online articles published in English as well as regional languages independent of Shaastra's association. Also had the privilege to be able to feature in Chennai regional <strong>Radio</strong> station.
</li>
<li>
An exclusive interview with <strong>NDTV News channel</strong> featuring the 12 member team along with the campaign heads. An accomplishment I feel even Shaastra would proudly acknowledge.
</li>
<li>
Apart from the PR front, we also supported/ set up precisely <strong>15 libraries</strong> in and around Chennai.
</li>
<li>

We had expanded our reach to over <strong>3 cities</strong> ( Bangalore, Hyderabad, and Pune) and hence collected about <strong>15000 books</strong> with each and every book mapped in our database.

</li>
<li>
Increased our stash of <strong>Marquee</strong> support to multiple folds. To name each of them:
<ul><li>
Sachin Tendulkar; Raghuram Rajan; Dalai Lama; Chetan Bhagat; R Ashwin; Kanan Gill; Kenny Sebastian; Abish Mathew; Akshar Patel; Stuart Binny; Rashmi Bansal; Saba Karim
</li></ul>

</li>
<li>
<strong>Limca Book Of Records:</strong> One of the prime accomplishments of Pledge A Book. This record involved the collection of <strong>12000</strong> customized Pledge A Book bookmarks from over <strong>10 Kendriya Vidyalaya Schools</strong> within a span of 2 hours.

</li>
</ul>

Stay tuned for this year’s social endeavour! 



</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="socialCampaign-building" src="../images/buildings/social_campaign2.png">
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
<br />

<center><iframe width="800" height="450" src="https://www.youtube.com/embed/ycK2rGMrnO4" frameborder="0" allowfullscreen></iframe></center><br><br>

</div>
