<div style="margin-top:150px;" ng-controller="SocialcampaignCtrl">
 <div class="row">
 <div class="col-sm-4 col-md-4 col-lg-4">
<img id="socialCampaign-banner" src="../images/elements/socialCampaign/social-Campaign-Title-Banner.png">
</div>
</div>
<br />
<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="socialCampaign-container col-sm-6 col-md-6 col-lg-6" >
	<p style="text-align:center">Plastic bottles scattered here and there. Crumpled, crushed, tossed away.</p>
	<p style="text-align:center">75% India* defecating in open, risking health, dignity and safety everyday.</p>
	<p style="text-align:center">Two grave issues. Two great challenges. A state of disarray.</p>
	<p style="font-size:75%">*source: WHO/ UNICEF JMP, 2015</p>
	<p>Shaastra, this year, plans to rise to these challenges and convert one problem into a solution for the other, sinking them both in perfect synchrony.</p>
	<p>Presenting this year’s social campaign aimed at waste management and sanitation:</p>
	<p style="text-align:center;font-size:200%"><b>SYNK</b></p>
	<p style="text-align:center;font-size:100%"><b>Realise.Reuse.Reform</b></p>
	<p>Launching soon….stay tuned.</p>
<br>

<p> <b>Pledge-A-Book (2014,2015):</b> </p>
<p>Pledge-A-Book (PAB), was a unique social campaign to spread education, literacy, and multilingualism by facilitating the access of books to the underprivileged. Started in 2014, its main aim was to bridge the gap between those who have access to resources and those lacking them.</p>
<p>PAB was based on the simple yet powerful idea of mapping books that were no longer useful to the current owners, to underprivileged students. </p>
<p>Building on the success of the first edition, PAB was scaled up to a national level in 2015 by expanding on-ground as well as online presence.</p><br>

<p> <b>Highlights:</b> </p>
<ul>
<li>We broadened our reach to <b>3 other cities</b> (Bangalore, Hyderabad, and Pune) and collected over <b>15,000 books</b> of which every book was mapped in our database.</li>

<li><b>15 libraries</b> were set up in and around Chennai.
</li>
<li>
An online portal was set up to link all the stakeholders.
</li>
<li>
Associations with 20+ NGOs, 10+ schools and more than 5 franchise associations like Crossword, Shell, Just Buy Cycles, etc. enabled a large number of people to donate books.

</li>
<li>

<b>Limca Book Of Record:</b> This record involved collection of about <b>12,000</b> customized Pledge-A-Book bookmarks from students of over <b>10 Kendriya Vidyalaya Schools</b> within a span of 2 hours.

</li>
<li>
The campaign got support from celebrities like Sachin Tendulkar, Raghuram Rajan, Dalai Lama, Chetan Bhagat, R Ashwin, Kanan Gill, Kenny Sebastian, Abish Mathew, Akshar Patel, Stuart Binny, Rashmi Bansal, Saba Karim to name a few.

</li>

</ul>

<p>The libraries that we set up are fully functional today and are doing their bit to curb illiteracy, one library at a time.
</p> 
<p>We, at Shaastra are proud to be a socially responsible fest and we hope to take this legacy forward in 2017 through SYNK.</p>



</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="socialCampaign-building" src="../images/buildings/social_campaign2.png">
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
<br />

<center><iframe width="800" height="450" src="https://www.youtube.com/embed/ycK2rGMrnO4" frameborder="0" allowfullscreen></iframe></center><br><br>

</div>
