<div style="margin-top:150px;" ng-controller="ShowsCtrl">
<div class="row">
<div class="col-sm-4 col-md-4 col-lg-4">
	<img id="solutions-banner" src="../images/elements/solutions/solutions-Title-Banner.png">
</div>
</div>
<br />
<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="solutions-container col-sm-6 col-md-6 col-lg-6">
<h4 class="solutions-header">ABOUT</h4>
<p>
Shaastra Solutions is an initiative which aims at bridging the gap between universities and industries.The jump from college to industry is usually a huge one for the college student. This is mainly due to lack of experience to working environment in the industrial sector. Shaastra Solutions outsources problems/assignments faced by companies to undergraduate students all across India. Out of the applicants, a rigorous selection process will choose the select few participants. These high quality participants will be grouped into teams and assigned various targets/tasks by companies to complete, in a span of 4-6 weeks. Projects are taken from a variety of fields to provide ample opportunity for people with varying talents to participate in whatever fields they choose. In addition to all this Shaastra Solutions will act as an effective communication bridge between company and team, ensuring the fulfilment of both their interests
</p>  
<br>
<p>
Areas we are currently taking up projects in:
</p>
<table class="table">
  <tr>
    <th>Services we offer</th>
    <th>What our team is expected to be</th>
  </tr>
  <tr>
    <td>
    	Performance Consultancy
    </td>
    <td>
    	Teams will focus on the execution of an initiative or overall performance of their client
    </td>
  </tr>
  <tr>
    <td>
    	Marketing and Sales
    </td>
    <td>
    	Team will provide advice on appropriate marketing and sales strategy to increase product/service sale
	</td>
  </tr>
  <tr>
    <td>
		Market and Product Research
	</td>
    <td>
    	Teams will help chart out the course of an already existing/new product into what should be done, for it to be successful. This also includes looking at monetizable avenues
    </td>
  </tr>
</table>

</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="solutions-building" src="../images/buildings/SOLUTIONS2.png">
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
<br />

	<img id="solutions-subtitle" src="../images/elements/subtitle.png ">

<div>
  <img id="solutions-placeholder" src="../images/elements/placeholder.png ">
  <div class="solutions-container2 container" >
<h4 class="solutions-header">PARTNERS</h4>
<label>Clonect</label>
<p>
Clonect Solutions is a leading company in the GRC space (Governance, Risk and Compliance). It has a few products in Compliance and Risk management which are used by its clients (business organisations) on a subscription/user license basis. 
</p> 
Click <a href="http://www.clonect.com/" target="_blank">here</a> for more information on Clonect.

<br/><br>

<label>BizWiz</label>
<p>
Bizwiz is a Professional Skills Learning Platform and is one of the Premiere education organisations and it provides numerous learning tools to empower faculties. BIZWIZ  and providing detailed conclusion based recommendations. 
</p> 
Click <a href="http://www.getbizwiz.com/" target="_blank">here</a> for more information on BizWiz.

<br/><br>

<label>What's in it for you?</label>
<p>
Shaastra solutions in collaboration with the client is providing not only certificates but also cash prizes upon completion of project deliverables ! There is also an immense amount of experience to be gained!  Solutions has provided each project team mentors to help in the completion of the project! Also sometimes we may have some project specific goodies for the participants!
</p>
<p>
Want to find out more, feel free to send any queries to <a href="mailto:solutions@shaastra.org.">solutions@shaastra.org.</a>
</p>
<p>
We’ve got more projects lined up and coming up! Register in advance, and get a chance to be part of our next project! If you are a company representative with a project in mind , send us a small brief here.  Sign up, solve and evolve.

</p>
</div>
</div>


</div>
