<div style="margin-top:150px;" ng-controller="ShowsCtrl">
<div class="row">
<div class="col-sm-4 col-md-4 col-lg-4">
	<img id="solutions-banner" src="images/banners/solutions-Title-Banner.png">
</div>
</div>
<br />
<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="solutions-container col-sm-6 col-md-6 col-lg-6">
<h4 class="solutions-header">ABOUT</h4>
<p>
Shaastra Solutions is an initiative which aims at bridging the gap between universities and industries.The jump from college to industry is usually a huge one for the college student. This is mainly due to lack of experience to working environment in the industrial sector. Shaastra Solutions outsources problems/assignments faced by companies to undergraduate students all across India. Out of the applicants, a rigorous selection process will choose the select few participants. These high quality participants will be grouped into teams and assigned various targets/tasks by companies to complete, in a span of 4-6 weeks. Projects are taken from a variety of fields to provide ample opportunity for people with varying talents to participate in whatever fields they choose. In addition to all this Shaastra Solutions will act as an effective communication bridge between company and team, ensuring the fulfilment of both their interests
</p>  
<br>
<p>
Areas we are currently taking up projects in:
</p>
<table class="table">
  <tr>
    <th>Services we offer</th>
    <th>What our team is expected to be</th>
  </tr>
  <tr>
    <td>
    	Performance Consultancy
    </td>
    <td>
    	Teams will focus on the execution of an initiative or overall performance of their client
    </td>
  </tr>
  <tr>
    <td>
    	Marketing and Sales
    </td>
    <td>
    	Team will provide advice on appropriate marketing and sales strategy to increase product/service sale
	</td>
  </tr>
  <tr>
    <td>
		Market and Product Research
	</td>
    <td>
    	Teams will help chart out the course of an already existing/new product into what should be done, for it to be successful. This also includes looking at monetizable avenues
    </td>
  </tr>
</table>

</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="solutions-building" src="images/buildings/SOLUTIONS2.png">
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
<br />



<div class="row" style="font-family: Open Sans">
<div class="col-sm-offset-1 col-sm-10 solutions-container">

<br>

<button class="accordion">PROJECT PARTNERS</button>
<div class="panel">
<label>Clonect</label>
<p>
Clonect Solutions is a leading company in the GRC space (Governance, Risk and Compliance). It has a few products in Compliance and Risk management which are used by its clients (business organisations) on a subscription/user license basis. 
</p> 
Click <a href="http://www.clonect.com/" target="_blank">here</a> for more information on Clonect.

<br/><br>

<label>BizWiz</label>
<p>
Bizwiz is a Professional Skills Learning Platform and is one of the Premiere education organisations and it provides numerous learning tools to empower faculties. BIZWIZ  and providing detailed conclusion based recommendations. 
</p> 
Click <a href="http://www.getbizwiz.com/" target="_blank">here</a> for more information on BizWiz.

<br/><br>

<label>What's in it for you?</label>
<p>
Shaastra solutions in collaboration with the client is providing not only certificates but also cash prizes upon completion of project deliverables ! There is also an immense amount of experience to be gained!  Solutions has provided each project team mentors to help in the completion of the project! Also sometimes we may have some project specific goodies for the participants!
</p>
<p>
Want to find out more, feel free to send any queries to <a href="mailto:solutions@shaastra.org.">solutions@shaastra.org.</a>
</p>
<p>
We’ve got more projects lined up and coming up! Register in advance, and get a chance to be part of our next project! If you are a company representative with a project in mind, send us a small brief here.  Sign up, solve and evolve.

</p>
</div>

<button class="accordion">The Grand Solution</button>
<div class="panel">
  <p>
Shaastra Solutions in collaboration with Team Nimbus is proud to present to you india’s first <b data-toggle="tooltip" data-placement="bottom" data-html="true" title="What is crowdsourcing?<br> Crowdsourcing​ provides a (contemporary solution/mechanism)for providing high quality solutions in a cost and time efficient manner. Wikipedia creating content by crowd sourcing it to the world is one biggest crowd sourced projects.">crowd sourced</b>​ event.
</p> 

<label>The Event</label>
<p>
The purpose of this event is to crowdsource solutions for different modules of an
Unmanned Aerial Vehicle planned to compete in an international aero-design
competition.</p> 
<label>Problem Statements</label>
<ul>
  <li>Since the landing gear cannot be retracted, the landing gear must cause
minimal drag. Which landing gear configuration would be most suitable?</li>
  <li>Keeping in mind the weight restrictions of the plane, which material could be
used for the landing gear?</li>
<li>Conceptualize a wing structure that can withstand a force of 40 Newtons on
each side. The wing must incorporate sweep and a high taper ratio of 0.45. It
is an EPPLER 423 airfoil.</li>
<li>Design an engine module to start the IC engine in mid-flight.</li>
<li>Assuming that the payload must be located at either the front or back of the
plane. What would be the most suitable location to place the payload?</li>
</ul>
<label>Information about the plane</label>
<ul>
  <li><a target="_blank" href="https://docs.google.com/spreadsheets/d/1LdrjruUwf2cP_-_U1xrVLVqqG01QTU6jPj0Hx9y6fBc/edit#gid=0">Plane Dimensions</a></li>
  <li><a target="_blank" href="https://www.3dvieweronline.com/members/Id619d6b6bff9a5152560ae73fb2264006/QkRnn01ZXgxz5eD">Right wing for simulation</a></li>
</ul>
<label>INCENTIVES</label>
<p>What's in for you other than the chance to work on cutting edge problems? Well we
have</p>
<ul>
  <li>Goodies worth Rs.6000 to be won</li>
  <li>A chance to work on new and upcoming shaastra solutions projects.</li>
</ul>
<label>FAQ</label>
<ul>
<li><b>Is there any team restriction?</b><br>
<p>No restriction.</p></li>
<li><b>When can we submit our solutions?</b><br>
<p><b>Solutions to the problem will be accepted only during the four days of
shaastra.</b>​ Grand solutions stall is set up in CFI, where the plane will be
located. Coordinators from Team Nimbus will be present to clarify your
queries.</p></li>
<li><b>How should we submit our solutions?</b><br>
<p>There will coordinators from Shaastra Solutions, who will collect the solutions.
<b>The best solution received each day will receive a prize.</b></p></li>
</ul>
<p>
You can email <a href="mailto:solutions@shaastra.org.">solutions@shaastra.org</a> in case of queries.</p>
</div>


</div>


</div>

<br><br>
</div>
