<!-- Associate - Capegemini -->
<br><br>
<div class = "row">
<div class = "sponsor-type col-md-12"> Associate Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-12">
	<img class = "sponsor-image" style="height: 100px;"  src="images/capegemini.png">
	</div>	
</div>


<!-- Event - Boeing -->
<br><br>
<div class = "row">
<div class = "sponsor-type col-md-12"> Event Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-12">
	<img class = "sponsor-image" style="height: 110px;" src="images/boeing.png">
	</div>	
</div>


<br><br>
<div class = "row">
<div class = "sponsor-type col-md-4"> Co-Sponsor </div>
<div class = "sponsor-type col-md-4"> Powered By Sponsor </div>
<div class = "sponsor-type col-md-4"> Co-Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-4">
	<img class = "sponsor-image" style="height: 80px;"  src="images/tcs.jpg">
	</div>
	<div class = "sponsor col-md-4">
	<img class = "sponsor-image" style="height: 100px;"  src="images/hindu.png">
	</div>
	<div class = "sponsor col-md-4">
	<img class = "sponsor-image" style="height: 80px;"  src="images/eaton.jpg">
	</div>	
</div>


<br><br>
<div class = "row">
	<div class = "sponsor-type col-md-6"> Event Sponsor </div>
	<div class = "sponsor-type col-md-6"> Co-Sponsor </div>
	<!-- <div class = "sponsor-type col-md-4"> Immerse Magazine Sponsor </div> -->
</div>
<div class = "row">
	<div class = "sponsor col-md-6">
	<img class = "sponsor-image" style="height: 100px;"  src="images/sbi.jpg">
	</div>
	<div class = "sponsor col-md-6">
	<img class = "sponsor-image" style="height: 80px;"  src="images/vmware.jpg">
	</div>
	<!-- <div class = "sponsor col-md-4">
	<img class = "sponsor-image" style="height: 80px;"  src="images/caterpillar.png">
	</div> -->
</div>


<br><br>
<div class = "row">

</div>
<div class = "row">
	
</div>


<br><br>
<div class = "row">
<div class = "sponsor-type col-md-3"> Smart City Sponsor </div>
<div class = "sponsor-type col-md-3"> Event Sponsor </div>
<div class = "sponsor-type col-md-3"> Event Sponsor </div> 
<div class = "sponsor-type col-md-3"> Event Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-3">
	<img class = "sponsor-image" style="height: 80px;"  src="images/saintgobain.jpg">
	</div>
	<div class = "sponsor col-md-3">
	<img class = "sponsor-image" style="height: 40px;"  src="images/do.png">
	</div>
	<div class = "sponsor col-md-3">
	<img class = "sponsor-image" style="height: 80px;"  src="images/bosch.jpg">
	</div>
	<div class = "sponsor col-md-3">
	<img class = "sponsor-image" style="height: 80px;"  src="images/hasura.png">
	</div>
</div>


<br><br>
<div class = "row">
	<div class = "sponsor-type col-md-4"> Event Sponsor </div>
	<div class = "sponsor-type col-md-4"> Event Sponsor </div>
	<div class = "sponsor-type col-md-4"> Event Sponsor </div>
	<!-- <div class = "sponsor-type col-md-3"> Event Sponsor </div> -->
</div>
<div class = "row">
	<div class = "sponsor col-md-4">
	<img class = "sponsor-image" style="height: 80px;"  src="images/mahindra.jpg">
	</div>	
	<div class = "sponsor col-md-4">
	<img class = "sponsor-image" style="height: 80px;"  src="images/vinmn.png">
	</div>
	<div class = "sponsor col-md-4">
	<img class = "sponsor-image" style="height: 80px;"  src="images/cts.png">
	</div>
	<!-- <div class = "sponsor col-md-3">
	<img class = "sponsor-image" style="height: 80px;"  src="images/sbi.png">
	</div> -->
</div>


<br><br><br><br>
<div class = "row">
<div class = "sponsor-type col-md-2"> Campaign Sponsor </div>
<div class = "sponsor-type col-md-3"> Workshop Sponsor </div>
<div class = "sponsor-type col-md-2"> Payment Sponsor </div>
<div class = "sponsor-type col-md-3"> Virtual Reality Sponsor </div>
<div class = "sponsor-type col-md-2"> Stationary Sponsor </div>
<!-- <div class = "sponsor-type col-md-3"> Fibernet Sponsor </div> -->
</div>
<div class = "row">
	<div class = "sponsor col-md-2">
	<img class = "sponsor-image" style="height: 50px;"  src="images/wd.png">
	</div>
	<div class = "sponsor col-md-3">
	<img class = "sponsor-image" style="height: 40px;"  src="images/techtrunk.png">
	</div>
	<div class = "sponsor col-md-2">
	<img class = "sponsor-image" style="height: 40px;"  src="images/paytm.png">
	</div>
	<div class = "sponsor col-md-3">
	<img class = "sponsor-image" style="height: 60px;"  src="images/ostron.png">
	</div>
	<div class = "sponsor col-md-2">
	<img class = "sponsor-image" style="height: 40px;"  src="images/classmate.png">
	</div>
	<!-- <div class = "sponsor col-md-3">
	<img class = "sponsor-image" style="height: 80px;"  src="images/act.png">
	</div> -->
</div>



<br><br>
<div class = "row">
<div class = "sponsor-type col-md-4"> Workshop Sponsor </div>
<div class = "sponsor-type col-md-4"> Coding Sponsor </div>
<div class = "sponsor-type col-md-4"> Workshop Digitization Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-4">
	<img class = "sponsor-image" style="height: 50px;"  src="images/solidworks.jpg">
	</div>
	<div class = "sponsor col-md-4">
	<img class = "sponsor-image" style="height: 80px;"  src="images/codechef.png">
	</div>
	<div class = "sponsor col-md-4">
	<img class = "sponsor-image" style="height: 40px;"  src="images/edx.png">
	</div>
</div>


