<!-- Associate - Capegemini -->
<br><br>
<div class = "row">
<div class = "sponsor-type col-md-12"> Associate Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-12">
	<img class = "sponsor-image" style="height: 100px;"  src="images/capegemini.png">
	</div>	
</div>


<!-- Event - Boeing -->
<br><br>
<div class = "row">
<div class = "sponsor-type col-md-12"> Event Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-12">
	<a href = "http://www.boeing.co.in/" target="_blank">
	<img class = "sponsor-image" style="height: 110px;" src="images/boeing.png">
	</a></div>		
</div>


<br><br>
<div class = "row">
	<div class = "sponsor-type col-md-4"> Co-Sponsor </div>
	<div class = "sponsor-type col-md-4"> Powered By Sponsor </div>
	<div class = "sponsor-type col-md-4"> Co-Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-4">
	<a href = "http://www.tcs.com/research" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/tcs.jpg">
	</a></div>
	<div class = "sponsor col-md-4">
	<a href = "http://www.thehindu.com" target="_blank">
	<img class = "sponsor-image" style="height: 100px;"  src="images/hindu.png">
	</a></div>
	<div class = "sponsor col-md-4">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/eaton.jpg">
	</a></div>	
</div>


<br><br>
<div class = "row">
	<div class = "sponsor-type col-md-6"> Event Sponsor </div>
	<div class = "sponsor-type col-md-6"> Co-Sponsor </div>
	<!-- <div class = "sponsor-type col-md-4"> Immerse Magazine Sponsor </div> -->
</div>
<div class = "row">
	<div class = "sponsor col-md-6">
	<a href = "https://www.onlinesbi.com/" target="_blank">
	<img class = "sponsor-image" style="height: 100px;"  src="images/sbi.jpg">
	</a></div>
	<div class = "sponsor col-md-6">
	<a href = "http://www.vmware.com" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/vmware.jpg">
	</a></div>
	<!-- <div class = "sponsor col-md-4">
	<a href = "http://www.boeing.co.in/" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/caterpillar.png">
	</a></div> -->
</div>




<br><br>
<div class = "row">
	<div class = "sponsor-type col-md-3"> Smart City Sponsor </div>
	<div class = "sponsor-type col-md-3"> Event Sponsor </div>
	<div class = "sponsor-type col-md-3"> Event Sponsor </div> 
	<div class = "sponsor-type col-md-3"> Event Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-3">
	<a href = "http://www.saint-gobain.co.in/" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/saintgobain.jpg">
	</a></div>
	<div class = "sponsor col-md-3">
	<a href = "http://www.digitalocean.com" target="_blank">
	<img class = "sponsor-image" style="height: 40px;"  src="images/do.png">
	</a></div>
	<div class = "sponsor col-md-3">
	<a href = "http://www.boschindia.com/en/" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/bosch.jpg">
	</a></div>
	<div class = "sponsor col-md-3">
	<a href = "http://www.hasura.io" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/hasura.png">
	</a></div>
</div>


<br><br>
<div class = "row">
	<div class = "sponsor-type col-md-4"> Event Sponsor </div>
	<div class = "sponsor-type col-md-4"> Event Sponsor </div>
	<div class = "sponsor-type col-md-4"> Event Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-4">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/mahindra.jpg">
	</a></div>	
	<div class = "sponsor col-md-4">
	<a href = "http://vinmn.com" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/vinmn.png">
	</a></div>
	<div class = "sponsor col-md-4">
	<a href = "http://www.cognizant.com" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/cts.png">
	</a></div>
</div>


<br><br><br><br><br><br>
<div class = "row">
	<div class = "sponsor-type col-md-4"> Workshop Sponsor </div>
	<div class = "sponsor-type col-md-4"> Campaign Sponsor </div>
	<div class = "sponsor-type col-md-4"> Education Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-4">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/techtrunk.png">
	</a></div>
	<div class = "sponsor col-md-4">
	<a href = "https://www.wdc.com/" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/wd.png">
	</a></div>
	<div class = "sponsor col-md-4">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 70px;"  src="images/nptel.png">
	</a></div>	
</div>


<br><br>
<div class = "row">
	<div class = "sponsor-type col-md-3"> Gaming Sponsor </div>
	<div class = "sponsor-type col-md-3"> Payment Sponsor </div>
	<div class = "sponsor-type col-md-3"> Virtual Reality Sponsor </div>
	<div class = "sponsor-type col-md-3"> Stationary Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-3">
	<a href = "https://www.playerzgaming.com/" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/playerz.jpg">
	</a></div>
	<div class = "sponsor col-md-3">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 40px;"  src="images/paytm.png">
	</a></div>
	<div class = "sponsor col-md-3">
	<a href = "http://www.ostron.in" target="_blank">
	<img class = "sponsor-image" style="height: 60px;"  src="images/ostron.png">
	</a></div>
	<div class = "sponsor col-md-3">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 40px;"  src="images/classmate.png">
	</a></div>
</div>


<!-- Act, Codechef, Youth4Work, Inkmonk, Princeton -->
<br><br>
<div class = "row">
	<div class = "sponsor-type col-md-4"> Fibernet Sponsor </div>
	<div class = "sponsor-type col-md-4"> Coding Sponsor </div>
	<div class = "sponsor-type col-md-4"> Campus Ambassador Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-4">
	<a href = "http://www.actcorp.in" target="_blank">
	<img class = "sponsor-image" style="height: 70px;"  src="images/act.JPG">
	</a></div>
	<div class = "sponsor col-md-4">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/codechef.png">
	</a></div>
	<div class = "sponsor col-md-4">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 40px;"  src="images/y4w.png">
	</a></div>
</div>



<br><br>
<div class = "row">
	<div class = "sponsor-type col-md-4"> Workshop Digitization Sponsor </div>
	<div class = "sponsor-type col-md-4"> Workshop Sponsor </div>
	<div class = "sponsor-type col-md-4"> Media Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-4">
	<a href = "http://www.edxengine.com" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/edx.png">
	</div>
	<div class = "sponsor col-md-4">
	<a href = "http://www.3ds.com" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/solidworks.jpg">
	</div>
	<div class = "sponsor col-md-4">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/knowafest.png">
	</div>
</div>



<br><br>