<!-- Associate - Capegemini -->
<br><br>
<div class = "row">
<div class = "sponsor-type col-md-12"> Gold Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-12">
	<img class = "sponsor-image" style="height: 100px;"  src="images/capegemini.png">
	</div>	
</div>


<!-- Event - Boeing -->
<br><br>
<div class = "row">
<div class = "sponsor-type col-md-12"> Event Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-12">
	<a href = "http://www.boeing.co.in/" target="_blank">
	<img class = "sponsor-image" style="height: 110px;" src="images/boeing.png">
	</a></div>		
</div>


<br><br>
<div class = "row">
	<div class = "sponsor-type col-md-12"> Powered By </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-12">
	<a href = "http://www.thehindu.com" target="_blank">
	<img class = "sponsor-image" style="height: 100px;"  src="images/hindu.png">
	</a></div>
</div>



<br><br>
<div class = "row">
	<div class = "sponsor-type col-md-4"> Co-Sponsor </div>
	<div class = "sponsor-type col-md-4"> Co-Sponsor </div>
	<div class = "sponsor-type col-md-4"> Co-Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-4">
	<a href = "www.vmware.com" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/vmware.jpg">
	</a></div>
	<div class = "sponsor col-md-4">
	<a href = "www.tcs.com/research" target="_blank">
	<img class = "sponsor-image" style="height: 100px;"  src="images/tcs.jpg">
	</a></div>
	<div class = "sponsor col-md-4">
	<a href = "www.eaton.com" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/eaton.jpg">
	</a></div>	
</div>


<br><br>
<div class = "row">
	<div class = "sponsor-type col-md-12"> Hospitality Sponsor </div>
	<!-- <div class = "sponsor-type col-md-4"> Immerse Magazine Sponsor </div> -->
</div>
<div class = "row">
	<div class = "sponsor col-md-12">
	<a href = "https://www.onlinesbi.com/" target="_blank">
	<img class = "sponsor-image" style="height: 100px;"  src="images/sbi.jpg">
	</a></div>
	<!-- <div class = "sponsor col-md-4">
	<a href = "http://www.boeing.co.in/" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/caterpillar.png">
	</a></div> -->
</div>







<br><br>
<div class = "row">
	<div class = "sponsor-type col-md-4"> Smart City Sponsor </div>
	<div class = "sponsor-type col-md-4"> Summit Sponsor </div>
	<!-- <div class = "sponsor-type col-md-3"> Immerse Magazine Sponsor </div>  -->
	<div class = "sponsor-type col-md-4"> Event Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-4">
	<a href = "http://www.saint-gobain.co.in/" target="_blank">
	<img class = "sponsor-image" style="height: 60px;"  src="images/saintgobain.jpg">
	</a></div>
	<div class = "sponsor col-md-4">
	<a href = "www.deque.com" target="_blank">
	<img class = "sponsor-image" style="height: 40px;"  src="images/deque.png">
	</a></div>
	<div class = "sponsor col-md-4">
	<a href = "http://www.boschindia.com/en/" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/bosch.jpg">
	</a></div>
	<!-- <div class = "sponsor col-md-3">
	<a href = "http://www.hasura.io" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/hasura.png">
	</a></div> -->
</div>


<br><br>
<div class = "row">
	<div class = "sponsor-type col-md-3"> Event Sponsor </div>
	<div class = "sponsor-type col-md-3"> Event Sponsor </div>
	<div class = "sponsor-type col-md-3"> Event Sponsor </div>
	<div class = "sponsor-type col-md-3"> Event Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-3">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/mahindra.jpg">
	</a></div>	
	<div class = "sponsor col-md-3">
	<a href = "http://vinmn.com" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/vinmn.png">
	</a></div>
	<div class = "sponsor col-md-3">
	<a href = "www.hasura.io" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/hasura.png">
	</a></div>
	<div class = "sponsor col-md-3">
	<a href = "www.digitalocean.com" target="_blank">
	<img class = "sponsor-image" style="height: 40px;"  src="images/do.png">
	</a></div>
</div>


<br><br>

<div class = "row">
	<div class = "sponsor-type col-md-3"> Campaign Sponsor </div>
	<div class = "sponsor-type col-md-3"> Stay Sponsor </div>
	<div class = "sponsor-type col-md-3"> Event Sponsor </div>
	<div class = "sponsor-type col-md-3"> Event Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-3">
	<a href = "https://www.wdc.com/" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/wd.png">
	</a></div>
	<div class = "sponsor col-md-3">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 120px;margin-top:-40px"  src="images/oyo.png">
	</a></div>
	<div class = "sponsor col-md-3">
	<a href = "www.cognizant.com" target="_blank">
	<img class = "sponsor-image" style="height: 80px;"  src="images/cts.png">
	</a></div>
	<div class = "sponsor col-md-3	">
	<a href = "www.lafargeholcim-awards.org" target="_blank">
	<img class = "sponsor-image" style="height: 30px;"  src="images/lh.jpg">
	</a></div>
</div>


<br><br>

<div class = "row">
	<div class = "sponsor-type col-md-6"> Education Sponsor </div>
	<div class = "sponsor-type col-md-6"> Event Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-6">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/nptel.png">
	</a></div>
	<div class = "sponsor col-md-6">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/twente.bmp">
	</a></div>
</div>


<br><br>

<div class = "row">
	<div class = "sponsor-type col-md-3"> Gaming Sponsor </div>
	<div class = "sponsor-type col-md-3"> Payment Sponsor </div>
	<div class = "sponsor-type col-md-3"> Stationary Sponsor </div>
	<div class = "sponsor-type col-md-3"> Virtual Reality Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-3">
	<a href = "https://www.playerzgaming.com/" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/playerz.jpg">
	</a></div>
	<div class = "sponsor col-md-3">
	<a href = "https://www.paytm.com/" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/paytm.png">
	</a></div>
	<div class = "sponsor col-md-3">
	<a href = "http://classmatestationery.com/" target="_blank">
	<img class = "sponsor-image" style="height: 40px;"  src="images/classmate.png">
	</a></div>
	<div class = "sponsor col-md-3">
	<a href = "http://www.ostron.in" target="_blank">
	<img class = "sponsor-image" style="height: 60px;"  src="images/ostron.png">
	</a></div>
</div>


<br><br>


<div class = "row">
	<div class = "sponsor-type col-md-4"> Workshop Sponsor </div>
	<div class = "sponsor-type col-md-4"> Workshop Sponsor </div>
	<div class = "sponsor-type col-md-4"> Workshop Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-4">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 40px;"  src="images/techtrunk.png">
	</a></div>
	<div class = "sponsor col-md-4">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 40px;"  src="images/ti.png">
	</a></div>
	<div class = "sponsor col-md-4">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 40px;"  src="images/ei.png">
	</a></div>
</div>



<br><br>

<div class = "row">
	<div class = "sponsor-type col-md-3"> Coding Sponsor </div>
	<div class = "sponsor-type col-md-3"> Merchandise Sponsor </div>
	<div class = "sponsor-type col-md-3"> Beverage Sponsor </div>
	<div class = "sponsor-type col-md-3"> Awareness Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-3">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/codechef.png">
	</a></div>
	<div class = "sponsor col-md-3">
	<a href = "https://inkmonk.com/" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/inkmonk.png"></a>
	</div>
	<div class = "sponsor col-md-3">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/bisleri.png">
	</a></div>
	<div class = "sponsor col-md-3">
	<a href = "http://www.teachforindia.org/" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/tfi.png">
	</a></div>
</div>



<br><br>

<div class = "row">
	<div class = "sponsor-type col-md-2" style="font-size:97%"> Workshop Digitization Sponsor </div>
	<div class = "sponsor-type col-md-2" style="font-size:97%"> Workshop License Sponsor </div>
	<div class = "sponsor-type col-md-2" style="font-size:97%"> Online Media Sponsor </div>
	<div class = "sponsor-type col-md-2" style="font-size:97%"> Media Sponsor </div>
	<div class = "sponsor-type col-md-2" style="font-size:97%"> Media Sponsor </div>
	<div class = "sponsor-type col-md-2" style="font-size:97%"> Anti-virus Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-2">
	<a href = "http://www.edxengine.com" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/edx.png">
	</a></div>
	<div class = "sponsor col-md-2">
	<a href = "http://www.3ds.com" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/solidworks.jpg">
	</a></div>
	<div class = "sponsor col-md-2">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/knowafest.png">
	</a></div>
	<div class = "sponsor col-md-2">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/iamwire.png">
	</a></div>
	<div class = "sponsor col-md-2">
	<a href = "www.inoxmovies.com" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/inox.jpg">
	</a></div>
	<div class = "sponsor col-md-2">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/npav.jpg">
	</a></div>
</div>



<br><br>

<div class = "row">
	<div class = "sponsor-type col-md-6" style="font-size:97%"> Campus Ambassador Sponsor </div>
	<div class = "sponsor-type col-md-6" style="font-size:97%"> Media Sponsor </div>
</div>
<div class = "row">
	<div class = "sponsor col-md-6">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/y4w.png">
	</a></div>
	<div class = "sponsor col-md-6">
	<a href = "" target="_blank">
	<img class = "sponsor-image" style="height: 50px;"  src="images/ignite.png">
	</a></div>
	
</div>



<br><br>