<div style="margin-top:150px;" ng-controller="SpotlightCtrl">
<div class="row">
<div class="col-sm-4 col-md-4 col-lg-4">
	<img id="spotlight-banner" src="http://res.cloudinary.com/shaastra-org/image/upload/v1480440521/shaastra-2017/banners/spotlight-Title-Banner.png">
</div>
</div>
<br />
<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="spotlight-container col-sm-6 col-md-6 col-lg-6">
<p>
Shaastra Spotlight brings dignitaries from academia and industry in engaging talks that will inspire and inform. Spanning science, technology, entrepreneurship, politics, social service and art, these lectures are a platform to interact with brilliant minds from various spheres of innovation. 
</p>
<p>
Shaastra Lecture Series strives to bridge the gap between aspiring innovators and the minds that shaped the world as we know it. Speakers from previous editions include </p>  
<p>
With a diverse lineup of speakers and special opportunities to network with speakers this year, we promise you an enriching experience at Shaastra 2017.
</p>


</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="spotlight-building" src="http://res.cloudinary.com/shaastra-org/image/upload/v1480440521/shaastra-2017/buildings/SPOTLIGHT2.png">
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
<br />



<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>

<div class="col-sm-10" style="font-family:Open Sans">

<p>Shaastra Lecture Series strives to bridge the gap between aspiring innovators and the minds that shaped the world as we know it. Speakers from previous editions include 
</p>

</div>

</div>
<br>

<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>

<div >

<img style="border-radius:2000px;" class="col-sm-3" src="http://res.cloudinary.com/shaastra-org/image/upload/v1480440521/shaastra-2017/spotlight/pre3.jpeg">
<img style="border-radius:2000px;" class="col-sm-3" src="http://res.cloudinary.com/shaastra-org/image/upload/v1480440521/shaastra-2017/spotlight/pre5.jpeg">
<img style="border-radius:2000px;" class="col-sm-3" src="http://res.cloudinary.com/shaastra-org/image/upload/v1480440521/shaastra-2017/spotlight/pre1.jpg">

</div>

</div>
<br>

<div class="row">
<div class="col-sm-1"></div>

<div >

<p class="col-sm-3" style="font-family:Open Sans"><b>Richard Stallman, Founder of the Free Software Foundation</b></p>
<p class="col-sm-3" style="font-family:Open Sans"><b>Vanitha Narayanan, Managing Director at IBM India</b> </p>
<p class="col-sm-3" style="font-family:Open Sans"><b>Anant Agarwal, Founder of EDx and faculty at MIT </b>
</p>

</div>

</div>
<br>
<br>

<div class="row">
<div class="col-sm-1"></div>

<div >

<p class="col-sm-10" style="font-family:Open Sans">With a diverse lineup of speakers and special opportunities to network with speakers this year, we promise you an enriching experience at Shaastra 2017. Stay tuned to our website and <a href="https://www.facebook.com/Shaastra/?fref=ts">Facebook</a> page for more details.
</p>

</div>

</div>
<br><br>



<!-- <div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>

<div ><img class="col-sm-3" src="../images/spotlight/1.jpg"></div>
<div class="col-sm-7"><h4><b>Guruduth Banavar, VP of Cognitive Computing at IBM Research (Video Conference)</b></h4><br>
Guruduth leads a worldwide team responsible for creating the next generation of cognitive systems known as Watson. He and his team build a range of cognitive systems that learn from massive amounts of data, reason towards specific goals, and interact naturally with people. As CTO of IBM’s Global Public Sector business, Guru focused on the Smarter Cities initiative and led strategic engagements around the globe to improve public safety, transportation, and other city services that make cities more livable and sustainable. Guru was the Director of IBM Research in India, which he helped establish as a pre-eminent center for Services Research and Mobile Computing. He has published his research extensively and holds more than 25 US patents. 
</div>

</div>

<br>

<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>

<div class="col-sm-7"><h4><b>R Chidambaram, Principal Scientific Advisor to the Government of India
</b></h4><br>
Dr. R Chidambaram is a highly distinguished experimental physicist. Having received a PhD from Indian Institute of Sciences Bangalore, he started his glorious career at Bhabha Atomic Research Centre (BARC) and served as its Director from 1990. He also served as the Director of Indian Atomic Energy Agency (IAEA) for 2 years. During his stint at BARC, he played a crucial role in coordinating the Historic Pokhran Nuclear tests, Smiling Buddha and Pokhran II. RuTAG (Rural Technology Action Group), a novel initiative for sustainable growth of the nation, is his brainchild. The Government of India conferred on him the Padma Vibhushan, the second highest civilian award. He is a member of various science academies in India and abroad and holds 20 honorary doctorates to his credit.

</div>
<div ><img class="col-sm-3" src="../images/spotlight/3.jpg"></div>

</div>
<br>

<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>

<div ><img class="col-sm-3" src="../images/spotlight/4.jpg"></div>
<div class="col-sm-7"><h4><b>Srijan Pal Singh</b></h4><br>
Srijan Pal Singh is a young social entrepreneur, author and the Founder & Director of Dr. APJ Abdul Kalam Centre and Three Billion Initiative. He graduated as the best outgoing student from IIM Ahmedabad and joined hands with late Dr. APJ Abdul Kalam as the Officer on Special Duty and Advisor to the President. He has played a crucial role in the coordination of PURA (Providing Urban Amenities to Rural Areas) and “What can I give” mission, pilot projects of former President Abdul Kalam. He has co-authored three best-selling books including “Target 3 Billion” with Dr. Abdul Kalam. Srijan is also the co-founder of Barefoot IT mission in Karnataka, to link rural people in need of facilities with the administration through smart technologies.
</div>

</div>
<br>
<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>

<div class="col-sm-7"><h4><b>YV Reddy, Chairman of the 14th Finance Commission & former RBI Governor
</b></h4><br>
Dr. Y Venugopal Reddy is an Indian economist, who started his career as an IAS officer. He is an alumnus of Osmania University of Hyderabad. Prior to joining RBI, he also served as the executive director of International Monetary Fund. He has held other key positions including the Chairman of SAARCFINANCE, the group of Governors of Central Banks of SAARC countries. He is known for his clever policies as a Governor of RBI, which saved the Indian economy from the Global Financial crisis of 2008. He is also credited with the Disinvestment of Public Sector Companies Reform. He was made an Honorary Fellow of the London School of Economics and awarded him the Padma Vibhushan, the second highest civilian honour, by the Government of India in 2010.
</div>
<div ><img class="col-sm-3" src="../images/spotlight/5.jpg"></div>

</div>
<br>
<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>

<div ><img class="col-sm-3" src="../images/spotlight/6.jpg"></div>
<div class="col-sm-7"><h4><b>Divakar Vaish
</b></h4><br>
Diwakar Vaish is an Indian robotics researcher and Head of Robotics and Research at A-SET Training and Research Institutes. He is the developer of India's first completely indigenous 3D printed humanoid robot (Manav), India's first mind controlled robot, and the world's first production brain controlled wheelchair. These technologies and robots were developed at the labs of A-SET Training & Research Institutes.</div>

</div>
<br>
<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>

<div class="col-sm-7"><h4><b>Kasturirangan, former Director of ISRO </b></h4><br>
Dr. Kasturirangan started his journey as a post graduate in Physics from University of Mumbai and went on to earn a doctorate in Experimental High Energy Astronomy. During his tenure as the Director of ISRO, Indian space research achieved its key milestones in the development of PSLV and GSLV vehicles. He also headed the Indian Remote Sensing Satellites Projects IRS- 1C and 1D. Being a scientist in essence, he has published over 200 papers in astronomy and space sciences. He serves on the Board of Governors of IIT Madras and as the Chairman of Karnataka Knowledge Commision. He is a Fellow of Indian Academy of Sciences and Indian National Academy of Engineering. The government of India awarded him the Padma Vibhushan, the second highest civilian honour, in 2000.
 
</div>
<div ><img class="col-sm-3" src="../images/spotlight/7.jpg"></div>

</div>
<br>
<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>

<div ><img class="col-sm-3" src="../images/spotlight/8.jpg"></div>
<div class="col-sm-7"><h4><b>Peter Littlewood, Director of Argonne National Laboratory</b></h4><br>
Dr. Peter Littlewood is a renowned physicist and Professor of Physics at the University of Chicago. He has served as head of the Theoretical Physics Research Department at Bell Laboratories and head of the Cavendish Laboratory in Cambridge University. Dr. Littlewood holds 6 patents, has published more than 200 articles in scientific journals and given more than 200 invited talks at international conferences and universities. He is a fellow of the Royal Society of London, the Institute of Physics, The World Academy of Sciences, Trinity College Cambridge, and the American Physical Society. He works towards creating and understanding new materials and chemistries that will address the grand challenges in energy and the environment, and on discovery science across a broad spectrum of disciplines including nuclear and high-energy physics as well as accelerator physics and technology.
 
</div>

</div>
<br>

<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>

<div class="col-sm-7"><h4><b>J Gopikrishnan
</b></h4><br>J. Gopikrishnan is an Indian journalist known for exposing the infamous 2G telecom through his article in 2008. The report led to more than 200 articles being published by The Pioneer, which uncovered the massive 2G Spectrum and the related Aircel Maxis scams. He is the recipient of several distinguished awards in journalism like the Raman Goenka award, KC Kulish International Award and “Indian of the Year” from CNN-IBN. He is also an active member of several anti-corruption movements including Campaign for Judicial Accountability and Reform (CJAR) and Action Committee Against Corruption in India (ACACI).

 
</div>
<div ><img class="col-sm-3" src="../images/spotlight/9.jpg"></div>

</div>
<br>

<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>

<div ><img class="col-sm-3" src="../images/spotlight/10.jpg"></div>
<div class="col-sm-7"><h4><b>Kartick Sathyanarayan
</b></h4><br>
Kartick is a wildlife conservationalist, best known as the "Bear Man of India", for his efforts to eradicate the cruel tradition of bear dancing. He and his organisation Wildlife SOS work on taking action against animal cruelty, rescuing wildlife in distress, resolving man-animal conflicts while promoting and educating the public about the need for habitat protection. They are committed to working with communities who depend on wildlife for sustenance and providing them alternative and sustainable livelihoods as that is the key to sustainable conservation. Wildlife SOS also emphasizes the value of ex-situ research in veterinary areas, behavioural studies, reproductive physiology and other fields in collaboration with national and international universities and organisations.

 
</div>

</div>
<br>

<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>

<div class="col-sm-7"><h4><b>Yoshua Bengio, Professor at the Department of Computer Science and Operations Research at the Université de Montréal
</b></h4><br>
Yoshua Bengio is well known for his work in deep learning and artificial neural networks. His titles include head of the Machine Learning Laboratory (MILA), CIFAR Program Co-director of the CIFAR Neural Computation and Adaptive Perception program, and Canada Research Chair in Statistical Learning Algorithms, among many others. His current interests are centered around a quest for artificial intelligence through machine learning, and include fundamental questions on deep learning and representation learning, the geometry of generalization in high-dimensional spaces, manifold learning, biologically inspired learning algorithms, and challenging applications of statistical machine learning.
 
</div>
<div ><img class="col-sm-3" src="../images/spotlight/11.jpg"></div>

</div>
<br> -->

</div>


</div>
