<div style="margin-top:150px;" ng-controller="SpotlightCtrl">
<div class="row">
<div class="col-sm-4 col-md-4 col-lg-4">
	<img id="spotlight-banner" src="../images/elements/spotlight/spotlight-Title-Banner.png">
</div>
</div>
<br />
<div class="row">
<div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="spotlight-container col-sm-6 col-md-6 col-lg-6">
<p>
Shaastra Spotlight brings dignitaries from academia and industry in engaging talks that will inspire and inform. Spanning science, technology, entrepreneurship, politics, social service and art, these lectures are a platform to interact with brilliant minds from various spheres of innovation. 
</p>
<p>
Shaastra Lecture Series strives to bridge the gap between aspiring innovators and the minds that shaped the world as we know it. Speakers from previous editions include </p>  
<br>
<p>
With a diverse lineup of speakers and special opportunities to network with speakers this year, we promise you an enriching experience at Shaastra 2017. Stay tuned to our website and <a href="https://www.facebook.com/Shaastra/" target="_blank">Facebook page</a> for more details.
</p>


</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="spotlight-building" src="../images/buildings/SPOTLIGHT2.png">
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
<br />

	<img id="spotlight-subtitle" src="../images/elements/subtitle.png ">

<div>
  <img id="spotlight-placeholder" src="../images/elements/placeholder.png ">
  <div class="spotlight-container2 container" >
<h4 class="spotlight-header">PARTNERS</h4>
<label>Clonect</label>
<p>
Clonect Solutions is a leading company in the GRC space (Governance, Risk and Compliance). It has a few products in Compliance and Risk management which are used by its clients (business organisations) on a subscription/user license basis. 
</p> 
Click <a href="http://www.clonect.com/" target="_blank">here</a> for more information on Clonect.

<br/><br>

<label>BizWiz</label>
<p>
Bizwiz is a Professional Skills Learning Platform and is one of the Premiere education organisations and it provides numerous learning tools to empower faculties. BIZWIZ  and providing detailed conclusion based recommendations. 
</p> 
Click <a href="http://www.getbizwiz.com/" target="_blank">here</a> for more information on BizWiz.

<br/><br>

<label>What's in it for you?</label>
<p>
Shaastra spotlight in collaboration with the client is providing not only certificates but also cash prizes upon completion of project deliverables ! There is also an immense amount of experience to be gained!  Solutions has provided each project team mentors to help in the completion of the project! Also sometimes we may have some project specific goodies for the participants!
</p>
<p>
Want to find out more, feel free to send any queries to <a href="mailto:spotlight@shaastra.org.">spotlight@shaastra.org.</a>
</p>
<p>
We’ve got more projects lined up and coming up! Register in advance, and get a chance to be part of our next project! If you are a company representative with a project in mind , send us a small brief here.  Sign up, solve and evolve.

</p>
</div>
</div>


</div>
