<div ng-controller="SpotlightCtrl">
<img id="spotlight-banner" src="../views/Elements/Spotlight/Spotlight-Title-Banner.png">
	<div>
<img id="spotlight-building" src="../views/Elements/Spotlight/Spotlight-Building.png">

<div class="spotlight-container container">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>
</div>

<img id="spotlight-subtitle" src="../views/Elements/Subtitle.png ">

<div>
	<img id="spotlight-placeholder" src="../views/Elements/Placeholder.png ">
	<div class="spotlight-container2 container">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

</div>



</div>
