<div style="margin-top:150px;" ng-controller="SummitRegistrationsCtrl">
  <div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
  <img id="summit-banner" src="../images/elements/summit/summit-Title-Banner.png">
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
  <h3 style="font-family: Open Sans"><b><u>Registrations</u></b></h3>
  </div>
  </div>
  <br />
  <div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="col-sm-6 col-md-6 col-lg-6" style="font-family: Open Sans">
<strong>Welcome!
<br>
<br><p>
The Accessibility Summit will hold a Case Study Competition and a Social Enterprise Competition. Candidates can only register for one of the two. The last date for registration is November 12.

</p><p>
    Registration for Social Enterprise Competition can be done in teams of up to 4 members. All members must register separately and must mention their team name in the registration form.
</p>
<p>

       For Case Study Competition, students must register individually. Teams will be formed after selection.

</p>
<p>
You can register for Accessibility Summit <a href="https://goo.gl/forms/9LoAC2sP1os6rpy33">here.</a> 
</p>
<p>
Based on the competition that the candidate registers for, a mail will be sent regarding further requirements for selection.

</p>
<p>
To know more about Accessibility Summit, please watch the teaser <a href="https://m.youtube.com/watch?v=DT7H16f_1pU">here.</a>
<br></p>
</p>
<p><h4><u>
<B>
Selection Procedure</u></B></h4>
</p>
<p>
The Selection Procedure post registration for the competitions will consist of two stages.
</p>

<p>
<ul><li>
Social Enterprise Competition:   
<br>  <br>
1. The group members will be required to send an executive summary of their project idea and a 30 second video pitch.
<br><br>
2. After clearing the first stage, a short interview will be conducted over Skype in the presence of all group members.

</li>
<li>
    <b>Case Study Competition:</b>
    <br><br>
      1. A problem statement will be sent to all registered candidates, and they will be required to send an original abstract.
      <br><br>
     2. After clearing the first stage, a short interview will be conducted over Skype.
 </li></ul></p>
<h4><u>
<B>
Registration Cost Structure
</u></B></h4>
Once selected, the candidates will be required to pay a fee. The fee structure is as follows:
<br>
<br>
IITM students:
₹ 500
<br>
Other students:
₹ 1000
<br>
Nominal charges for accommodation have to be paid separately.
 

<h4><u>
<B>
Contact Details

</u></B></h4>


All mails regarding registrations for Accessibility Summit will be sent from and received at summitregistrations@shaastra.org .

<br><br>
Feel free to contact us in case of any queries. You can also contact Udith Krishna at udithkrishna@shaastra.org , and Ramprashanth M at ramprashanth@shaastra.org .  
 
<br>

 </strong>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="summit-building" src="../images/buildings/summit2.png">
</div>
<br>
  <a href="/#/summit" class="btn btn-lg btn-info" style="float: right;margin: 4%;">Summit Main Page</a>  
</div>
</div>
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
</div>
</div>




</div>
