<div style="margin-top:150px;" ng-controller="SummitSpeakersCtrl">
  <div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
  <img id="summit-banner" src="images/summit/summit-Title-Banner.png">
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
  <h3>Speakers</h3>
  </div>
  </div>
  <br />
  <div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="col-sm-7 col-md-7 col-lg-7" style="font-family: Open Sans">
<div ng-repeat="speaker in speakersJson">

<table style="margin-bottom: 6%;">
  <tr>
  <td>
  <img class="summit-logo" src="{{speaker.img}}">
  <h3 class="summit-description">{{speaker.name}}</h3>
  <h4 class="summit-description">{{speaker.description}}</h4>
  <h4 style="text-align: center;">{{speaker.organisation}}</h4>
  </td>
  <td style="padding-left: 4%;">
    <span class="summit-info">{{speaker.info}}</span>
  </td>
  </tr>
</table>

</div>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="summit-building" src="images/buildings/summit2.png">
</div>
<br/>

</div>
</div>
<a href="/#/summit" class="btn btn-lg btn-info" style="float: right;margin: 4%;">Summit Main Page</a>  
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
</div>
</div>
