<div style="margin-top:150px;" ng-controller="SummitFaqCtrl">
  <div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
  <img id="summit-banner" src="../images/elements/summit/summit-Title-Banner.png">
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
  <h3>FAQ</h3>
  </div>
  </div>
  <br />
  <div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="col-sm-6 col-md-6 col-lg-6" style="font-family: Open Sans">

<ol>

<li> 
<strong>What is Shaastra Summit?</strong>
<p>
The Shaastra Summit serves as a platform to discuss and ideate on pressing matters in the society and create viable solutions to real world problems. This year, the theme of the summit is Accessibility, where we focus on a broad range of topics ranging from Assistive technology to disability policy.
</p>
</li>
<li>
<strong> What does the theme 'Accessibility' mean?</strong>
<p>
The theme of Summit - Accessibility - focusses on making the world accessible to Persons with Disabilities (PwDs) through the development of technology, services and policy. Accessibility includes basic public services such as infrastructure, transportation, education, communication, etc.
</p>
</li>
<li>
<strong>When and where is Summit being held?</strong>
<p>
The Accessibility Summit of Shaastra 2017 is a 4 day event and will be conducted between 31st December, 2016 and 3rd January, 2017 at the beautiful campus of IIT Madras in Chennai.
</p>
</li>
<li>
<strong> What is the criterion of eligibility?</strong>
<p>The participants must be pursuing their undergraduate or post-graduate degree in a recognized university. There is no restriction on the stream of study of the participants.   
</p>
</li>
<li>
<strong>What kind of events will the participants be involved in during the summit?</strong>
<p>
The Accessibility Summit will host a rare mix of lectures, workshops, a central panel discussion, a trip, informal and ice breaker sessions. The participants will also be provided mentoring sessions from professionals in the field to help with idea development and final presentation. 
</p>
</li>
<li>
<strong>Does the Accessibility Summit consist of competitions?</strong>
<p>
Two competitions will be held as part of Summit -- the policy case study competition and the social enterprise challenge. The Summit ends with the best few teams presenting their idea to a panel of judges.
</p> 
</li>
<li>
<strong>What is the registration process?</strong>	
<p>All participants will have to fill out an application form followed by a submission of a synopsis or executive summary of their idea depending on their chosen competition. All short-listed candidates will be called for an interview. Please refer to the <a href="/#/summit-registrations">Registrations</a> page 
</p>
</li>
<li>
<strong>Is there a fee for participation in the Summit?</strong>
<p>
Yes, all selected participants are required to pay a registration fee. Note that no fee is to be paid for submitting the application. For fee and payment details refer the <a href="/#/summit-registrations">Registrations</a> page
</p>
</li>
<li>
<strong>Is the registration process different for each competition?</strong>
<p>
The registration process for each competition is different. Participants for both competitions will have to fill a general application form at the beginning of the registration process. 
</p>
<p>
Case study competition:<br>
Participants will have a 2 step selection process. After submission of the application form, the participants have to submit a case study synopsis for a given problem statement. Short-listed participants will be called for an interview. 
</p>
<p>
Social Enterprise competition:<br>
          Participants will have a 2 step selection process. After submission of the application form, the participants have to submit an executive summary of their idea along with a video presentation. Short-listed candidates will be called for an interview.
 </p>
 </li> 
 <li>
 <strong>How will I know of my selection?</strong>
 <p>
All selected participants will be sent emails regarding selection. The applicants are requested to stay connected through email for all communication during the registration process.
</p>
</li>
<li>
<strong>What does Summit offer its participants?</strong>
<p>
 The Accessibility Summit brings to its participants lectures, workshops and a panel discussion from several eminent personalities. It also gives a chance to create an impact and to learn essential skills for developing their idea, along with networking opportunities with the panelists. Through the competitions, participants have a chance of winning cash prizes worth <strong>prize money</strong>. 
</p>
</li>
<li>
<strong>What are some of the partner organisations associated with the summit?</strong>
<p>
We have the following organisations as partners for the event:<br>
<ul>
<li>Accessible India Campaign, Department of Empowerment of Persons with Disabilities (DEPwD).</li> 
<li>Deque Systems Inc.</li>
<li>Center for Internet and Society (CIS)</li>
<li>EnAble India</li>
<li>Ability Foundation</li>
<li>Vidhi Center for Legal Policy</li> 
<li>Vidya Sagar</li>
</ul>
</p>
</li>
<li>
<strong>Would accommodation and food be provided to the participants during the event?</strong>
<p>
Participants will be provided with food and accommodation at a nominal price. This is over and above the registration fee after selection, and has to be paid before hand. 
</p>
</li>
<li>
<strong>Will it be required for participants to come to Chennai any time before the summit?	</strong>
<p>
	Participants are not required to come to Chennai before the summit. The interview will be conducted over Skype or telephone.
</p>
</li> 
<li>
<strong>I have a lot of queries, how do I get in touch with the you?</strong>
<p>
	You can contact us at the email address - <a href="mailto:summitregistrations@shaastra.org">summitregistrations@shaastra.org</a>. You can also contact Udith Krishna at <a href="mailto:udithkrishna@shaastra.org">udithkrishna@shaastra.org</a> and Ramprashanth M at <a href="mailto:ramprashanth@shaastra.org">ramprashanth@shaastra.org.</a> 
</p>
</li>
</ol>

</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="summit-building" src="../images/buildings/summit2.png">
</div>
<br>
  <a href="/#/summit" class="btn btn-lg btn-info" style="float: right;margin: 4%;">Summit Main Page</a>  
</div>
</div>
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
</div>
</div>




</div>


