<div style="margin-top:150px;" ng-controller="SummitRegistrationsCtrl">
  <div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
  <img id="summit-banner" src="../images/elements/summit/summit-Title-Banner.png">
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
  <h3>Registrations</h3>
  </div>
  </div>
  <br />
  <div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="col-sm-6 col-md-6 col-lg-6">
<strong>Registration are yet to open. Stay tuned for updates </strong>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="summit-building" src="../images/buildings/summit2.png">
</div>
  
</div>
</div>
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
</div>
</div>




</div>
