<div style="margin-top:150px;" ng-controller="SummitPastVersionsCtrl">
  <div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
  <img id="summit-banner" src="http://res.cloudinary.com/shaastra-org/image/upload/v1480440521/shaastra-2017/summit/summit-Title-Banner.png">
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
  <h3>Past Versions</h3>
  </div>
  </div>
  <br />
  <div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="col-sm-6 col-md-6 col-lg-6" style="font-family: Open Sans">

<h4><strong>Makers Summit, Shaastra 2016:</strong></h4>
	<p>
	The Makers Summit held during Shaastra 2016, tapped into the Maker culture and makers movement fast developing in the country. The 4 day event through keynote lectures, competition, workshops and personal mentoring session with experts focussed on developing the maker culture in the country. The Make-a-thon, an innovation competition as a part of the summit, provided participants with a hands on experience into innovation and learn what it means to be a Maker innovating on tracks such as Transmedia storytelling, Life hacks and Make a difference. The Panel discussion, as part of the event focussed on discussing the opportunities available to young innovators providing participants with insights from experts from tech and non-tech backgrounds. The Makers summit, successfully turned out to be the flagship event of Shaastra 2016 
    </p>
<h4><strong>International Health Symposium, Shaastra 2015:</strong></h4>
	<p>
	The International Health Symposium held during Shaastra, 2015 was focussed on improving the largely unregulated and inadequately resourced health sector of the country. The 4 day event brought together a diverse group of students from varied backgrounds of law, engineering and medicine suggest viable large scale solutions for the carefully designed case study problem statements divided broadly into two tracks of Medical technology and Health policy, boasting experts from local and state governments to inventors from internationally acclaimed organisations such as Dr. Devi Shetty (Founder, Narayan Health), Dr. Manu Prakash (Inventor, Stanford University), Dr. Somil Nagpal (Chief, Healthcare, World Bank). 
    </p>
<strong>This year we bring you the International Accessibility Summit at Shaastra 2017 to be held between 31st December 2016 to 3rd January 2017.</strong>


</p>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="summit-building" src="http://res.cloudinary.com/shaastra-org/image/upload/v1480440521/shaastra-2017/buildings/summit2.png">
</div>
<br>
  <a href="/#/summit" class="btn btn-lg btn-info" style="float: right;margin: 4%;">Summit Main Page</a>   
</div>
</div>
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
</div>
</div>




</div>

