<div style="margin-top:150px;" ng-controller="SummitPartnersCtrl">
  <div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
  <img id="summit-banner" src="images/summit/summit-Title-Banner.png">
  </div>
  <div class="col-sm-4 col-md-4 col-lg-4">
  <h3>Partners</h3>
  </div>
  </div>
  <br />
  <div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="col-sm-6 col-md-6 col-lg-6" style="font-family: Open Sans">
<div ng-repeat="partner in partnersJson">

<table style="margin-bottom: 6%;">
  <tr>
  <td>
  <a target="_blank" ng-href="{{partner.link}}"><img class="summit-logo-partner" src="{{partner.logo}}"></a>
  <h3 class="summit-description">{{partner.name}}</h3>
  </td>
  <td style="padding-left: 4%;">
    <span class="summit-info">{{partner.info}}</span>
     <br><br>
    <label class="summit-info">For more info <a target="_blank" href="{{partner.link}}">{{partner.link}}</a></label>
    
  </td>
  </tr>
</table>

</div>


</div>

<div class="col-sm-4 col-md-4 col-lg-4">
<img id="summit-building" src="images/buildings/summit2.png">
</div>
<br>
   
</div>
<a href="/#/summit" class="btn btn-lg btn-info" style="float: right;margin: 4%;">Summit Main Page</a> 
</div>
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
</div>
</div>




</div>

