<div style="margin-top:150px;" ng-controller="SummitCtrl">
  <div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">
  <img id="summit-banner" alt="Summit" src="../images/elements/summit/summit-Title-Banner.png">
  </div>
  </div>
  <br />
  <div class="row">
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
<div class="col-sm-6 col-md-6 col-lg-6" style="font-family: Open Sans">
<p>
	This year’s Summit strives to bring about a change in society by addressing an issue that is taken for granted by most people: <strong>Accessibility</strong>.
</p>
<p>
Climbing stairs, listening to a lecture, reading a billboard, expressing dissent are some activities that most of us tend to perform quite effortlessly. Turning a “blind eye” to a “lame joke” is something that comes naturally to a lot of us. We crib to no end when people refuse to talk to us in a language we understand because it makes us feel like an outsider. If there is one thing that human beings hate, it is the feeling of being excluded or pitied upon, as this is a constant reminder of what one cannot do.
</p>
<p>
Accessibility is an attempt to get rid of this exclusion in various important spheres – physical environments, public spaces, the digital realm, education, employment, technology, transport. It is concerned with the removal of barriers, to set the record straight on what causes a disability: not an individual’s inability to do something but the society’s tendency to throw unnecessary obstacles. Accessibility is a spectrum - it means usability, it means removing limitations and tapping opportunities.
</p>
<p>
The <strong>Accessibility Summit of Shaastra 2017</strong>, IIT Madras, a 4 day-long event to be held between <strong>31st December, 2016 to 3rd January, 2017</strong>, is a platform for multiple stakeholders in the field of Accessibility and Assistive Technology to come together and share their knowledge. It is a chance for students from various fields of study to meet and ideate on how to make India truly accessible. 
</p>
To know more about Accessibility Summit, please watch the teaser.
<br><br>
<iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FShaastra%2Fvideos%2F1198834450162266%2F&show_text=0&width=560" width="560" height="315" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
<br>

</div>
<div class="col-sm-4 col-md-4 col-lg-4">
<img id="summit-building" alt="Summit" src="../images/buildings/summit2.png">
</div>
  <div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
<br /><br />
<br /><br />
  <div class="row" style="margin-left:10%; ">
  <div class="col-sm-10 col-md-10 col-lg-10">
  <div ng-repeat="events in eventList">
  <div class="col-sm-2 col-md-2 col-lg-2">
  <div class="eventbox2">
  <img class="img-thumbnail img-click imgstyle" alt="Summit" ng-src="{{events.img}}" ng-click="goto($index)">
</div>
<br />
</div>
</div>
</div>
<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
</div>
</div>




</div>
