
<div class="bg_eventlist" style="margin-top:150px;" ng-controller="WorkshopsCtrl">
  
  <center>
  <img id="events-banner" ng-src="images/banners/WORKSHOP-Banner.png"><br><br>
 <img id="events_image" ng-src="images/verticals_image_and_departments/WORKSHOP-button.png"><br><br>
 
 <div style="text-align:left;margin-left:50px;">
 <h3><b>Registrations:</b></h3>
 <ol>
 	<li>People who are interested in attending workshops are requested to register for the corresponding workshops in the <a href="/dashboard">registration page</a>.</li>
 	<li>Robotics Workshops - Hand controlled Bot, Paired robotics, Object Tracking Bot and SPAD accepts registrations only in teams of 5 people at maximum.</li>
 	<li>For all the other workshops, registrations should  be done individually or in teams of maximum 3 people.</li>
 </ol>
 <h3><b>After Registration:</b></h3>
 <ol start="4">
 	<li>Registrants  will get a confirmation mail.</li>
 	<li>Registrants are requested to pay for the workshop stamp(INR 300) and Kit(if it is a kit workshop) to confirm their  participation.</li>
 </ol>
 <h3><b>Note:</b></h3>
 <ul>
 	<li><b>Workshop stamp is necessary for all workshops.</b></li>
 	<li><b>In case of getting confirmed for multiple workshops, paying once for workshop stamp is enough.</b></li>
 	<li><b>Refunds will not be entertained in case of wrong payments.</b></li>
 </ul>
 <p style="font-size:150%"><b>Click <a href="../images/Workshop_schedule.pdf" target="_blank">here </a>for the workshop schedule</b></p>
 <p>For any doubts or queries, please contact : <br>
	Ashmon - 9087864376 <br>
	Karthik Vijay - 9445401255 <br>
	Or email us at workshops@shaastra.org
</p><hr>
 </div>
 <br><br>

  <div class="row">
  <div ng-repeat="category in workshopCategories track by $index">
  <div class="col-sm-6 col-md-6 con-lg-6">
  	<div class="eventbox">
  <div ng-click="gotoEventDetails($index)" class="eventsname">{{category}}</div>
</div>
</br>
</div>
<!-- <div class="col-sm-offset-3 col-sm-6 col-md-6 con-lg-6" ng-if="$last">
  <div class="eventbox">
  <div ng-click="gotoEventDetails($index)" class="eventsname">{{category}}</div>
</div> -->
<!-- </br> -->
</div>

</div>

<div class="col-sm-1 col-md-1 col-lg-1"></div>
</div>
</div>
 </center>
</div>
